<section class="hp-posts">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-48">
      <h2 class="h2 titleDecoration">Aktuality</h2>
      <a class="btn btn-secondary" href="#"> Prohlédnout všechny aktuality </a>
    </div>
    <div class="row g-5">
      <div class="col-lg-4">
        <div class="post">
          <div class="post__img">
            <img src="images/content/topstory-1.webp" loading="lazy" alt="" />
          </div>
          <div class="post__info">
            <h3 class="h3 text-secondary subTitleDecoration mb-3">
              Skupina Mafra posílila svou dozorčí radu
            </h3>
            <p>Mediální skupinu MAFRA spolu s pardubickými chemickými...</p>
            <a href="#" class="btn btn-primary-simple">Více informací</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="post">
          <div class="post__img">
            <img src="images/content/topstory-2.webp" loading="lazy" alt="" />
          </div>
          <div class="post__info">
            <h3 class="h3 text-secondary subTitleDecoration mb-3">
              Investiční skupina Kaprain dokončila...
            </h3>
            <p>Investiční skupina Kaprain dokončila na konci roku nákup společnosti...</p>
            <a href="#" class="btn btn-primary-simple">Více informací</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="post">
          <div class="post__img">
            <img src="images/content/topstory-3.webp" loading="lazy" alt="" />
          </div>
          <div class="post__info">
            <h3 class="h3 text-secondary subTitleDecoration mb-3">
              Kaprain a Penta Real Estate společně...
            </h3>
            <p>
              Společnosti Kaprain a Penta Real Estate uzavřely dohodu o Kaprain a Penta Real Estate
              uzavřely dohodu o
            </p>
            <a href="#" class="btn btn-primary-simple">Více informací</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
