.staffDirectory-filter {
  .searchForm,
  .searchForm input {
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  &__btn {
    position: relative;
    padding: 1.0625rem 2.875rem 0.9375rem 1.25rem !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    &::before {
      content: "";
      position: absolute;
      right: 1.25rem;
      width: 1rem;
      height: 1rem;
      background-color: var(--color-secondary);
      -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 11.281l.847-.726L20 2.71 18.303.719 10 7.839 1.697.719 0 2.709l9.153 7.847.847.725z' fill='%2329225C'/%3E%3C/svg%3E");
      mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 11.281l.847-.726L20 2.71 18.303.719 10 7.839 1.697.719 0 2.709l9.153 7.847.847.725z' fill='%2329225C'/%3E%3C/svg%3E");
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: 1rem;
      mask-size: 1rem;
      -webkit-mask-position: center;
      mask-position: center;
      transition: all 0.2s;
    }
    &:hover:before {
      background-color: var(--color-light);
    }
  }
  &__btn.staffDirectory-open::before {
    transform: rotate(-180deg);
  }
  &__menu {
    display: flex;
    gap: 1.5rem 4rem;
    flex-wrap: wrap;
    @include media-breakpoint-down(sm) {
      gap: 1rem;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    gap: 1.5rem 4rem;
    @include media-breakpoint-down(lg) {
      flex-direction: column-reverse;
      margin-bottom: 2.5rem;
    }
    @include media-breakpoint-down(sm) {
      gap: 1rem;
    }
  }
  &__tags {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  &__tag {
    background-color: var(--color-secondary);
    color: var(--color-light);
    border: 0.0625rem solid var(--color-secondary);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 0.9375rem;
    letter-spacing: 0.04em;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
  .remove-tag {
    font-size: 0;
    background-image: url("../images/ico/close.svg");
    width: 1rem;
    height: 1rem;
    display: block;
    background-size: contain;
    background-position: 50%;
    margin-left: 0.625rem;
  }
}

.staffDirectory-category {
  margin-bottom: 4rem;
  padding-bottom: 4rem;
  border-bottom: 0.125rem solid var(--color-secondary);
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  @include media-breakpoint-down(lg) {
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
  }
  &__title {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 0.9375rem;
    letter-spacing: 0.04em;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }
  &__list {
    li {
      display: flex;
      align-items: center;
      margin-bottom: 0.625rem;

      input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        width: 1.25rem;
        height: 1.25rem;
        border: 0.0625rem solid var(--color-secondary);
        border-radius: 0.125rem;
        margin-right: 0.625rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;

        &:checked {
          border-color: var(--color-primary);
          background-color: var(--color-primary);

          &::after {
            content: "";
            background-image: url("../images/ico/close.svg");
            font-size: 0.875rem;
            color: #fff;
            width: 1rem;
            height: 1rem;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50%;
          }
        }
      }

      label {
        color: var(--color-secondary);
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 2.25rem;
        cursor: pointer;
      }
      label.checked {
        color: var(--color-primary);
      }
    }
  }
}

.staffDirectory-nav-open .staffDirectory-category {
  display: block;
  opacity: 1;
  visibility: visible;
}

.staffDirectory__item {
  box-shadow: 0 1rem 2.5rem 0 rgba(0, 0, 0, 0.1490196078);
  padding: 3rem;
  height: 100%;
  @include media-breakpoint-down(sm) {
    padding: 2rem;
  }
  &-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    color: var(--color-secondary);
    position: relative;
    padding-bottom: 1.125rem;
    margin-bottom: 1rem;
    @include media-breakpoint-only(xl) {
      font-size: 1.25rem;
      line-height: 1.5625rem;
    }
    &::before {
      content: "";
      position: absolute;
      height: 0.125rem;
      width: 8rem;
      bottom: 0;
      left: 0;
      background-color: var(--color-primary);
    }
  }
  &-info li {
    position: relative;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50%;
      width: 1rem;
    }
  }
  &-info .tel::before {
    background-image: url("../images/ico/staff-tel.svg");
    height: 1rem;
  }
  &-info .mail::before {
    background-image: url("../images/ico/staff-mail.svg");
    height: 0.75rem;
  }
}
.staffDirectory {
  margin-bottom: 11rem;
  @include media-breakpoint-down(lg) {
    margin-bottom: 3.75rem;
  }
}
