<section class="article-section">
  <div class="article-section__header">
    <img src="images/bg/article.png" loading="lazy" alt="article" />
    <div class="article-section__info">
      <div class="article-section__date">09. 10. 2024</div>
      <div class="tag mb-4">Real estate</div>
      <h1 class="h2 subTitleDecoration">Skupina Mafra posílila svou dozorčí radu</h1>
      <p class="text-lg">
        Mediální skupinu MAFRA spolu s pardubickými chemickými závody Synthesia koupila v únoru
        tohoto roku investiční skupina Kaprain. Zatímco Synthesia byla rychle začleněna do
        existující chemické divize Kaprainu, s fungováním mediální skupiny se nový majitel stále
        seznamuje. K 11. 6. 2024 nový majitel doplnil členy dozorčí rady celé mediální skupiny.
      </p>
    </div>
  </div>
  <div class="container-medium">
    <div class="o-content">
      <blockquote>
        <p>
          „Aktuálně pracujeme na analýze efektivity a rozvojového potenciálu jednotlivých titulů i
          celé mediální skupiny. Silné personální obsazení dozorčí rady je jednou z podmínek
          úspěšného rozvoje Mafry. Mají v ní proto své místo experti na komunikaci, byznys i
          zástupce zaměstnanců,“
        </p>
        <span> Marcel Dostal, CEO skupiny Kaprain </span>
      </blockquote>
      <p>
        Dozorčí radu mediální skupiny MAFRA nyní tvoří její předseda Jakub Dlouhý a členové Jan
        Dienstl, Pavel Lupínek a Martin Kudera:
      </p>
      <p>
        Jakub Dlouhý (předseda dozorčí rady) je Marketingovým ředitelem skupiny Kaprain a majitel
        marketingové a komunikační skupiny Kotelna55. Historicky se podílel na počátku vysílání
        Rádia Impuls.
      </p>
      <img src="images/content/article-img.png" loading="lazy" alt="images" />
      <p>
        Jan Dienstl (člen dozorčí rady) přichází do dozorčí rady s velmi dobrou znalostí mediální
        skupiny MAFRA. Již dříve s předchozím majitelem jednal za jiného zájemce o jejím možném
        odkupu.
      </p>
      <p>
        Pavel Lupínek (člen dozorčí rady) je zkušený právník, který dlouhodobě působil v investiční
        skupině Kaprain. V dozorčí radě uplatní bohaté právní a byznysové zkušenosti.
      </p>
      <p>
        Martin Kudera (člen dozorčí rady) je vedoucím výroby mediální skupiny MAFRA. V dozorčí radě
        zastupuje zájmy zaměstnanců. V Mafře působí od roku 1993.
      </p>
      <p>Více informací nebudou zástupci skupin MAFRA a Kaprain v této chvíli poskytovat.</p>
    </div>
    <div class="footerPage">
      <div class="footerPage__nav">
        <a href="#" class="btn btn-primary-simple">Všechny aktuality</a>
        <a href="#" class="btn btn-primary-simple">Předchozí aktualita </a>
      </div>
      <a href="#" class="btn btn-primary">další aktualita </a>
    </div>
  </div>
</section>
