<section class="faq-section">
  <div class="headerPage" style="background-image: url('./images/bg/faq.jpg')">
    <div class="container">
      <div class="headerPage__inner">
        <h1 class="h1 text-white">Q&As</h1>
      </div>
    </div>
  </div>
  <div class="faq-section__inner">
    <div class="accordion">
      <div class="accordion-item">
        <button
          class="accordion-button collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="false"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit?
        </button>

        <div id="collapseOne" class="accordion-collapse collapse">
          <div class="accordion-body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
              vero a nam qui dignissimos aspernatur explicabo maiores adipisci
              atque magnam.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <button
          class="accordion-button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="true"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod
          tempor?
        </button>

        <div id="collapseTwo" class="accordion-collapse collapse show">
          <div class="accordion-body">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
              eos qui ratione voluptatem sequi nesciunt.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <button
          class="accordion-button collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
        >
          Lorem ipsum dolor sit amet?
        </button>

        <div id="collapseThree" class="accordion-collapse collapse">
          <div class="accordion-body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
              vero a nam qui dignissimos aspernatur explicabo maiores adipisci
              atque magnam. Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Minus vero a nam qui dignissimos aspernatur explicabo
              maiores adipisci atque magnam.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <button
          class="accordion-button collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="false"
        >
          Lorem ipsum dolor sit amet, consectetur? Lorem ipsum dolor sit amet,
          consectetur? Lorem ipsum dolor sit amet, consectetur?
        </button>

        <div id="collapseFour" class="accordion-collapse collapse">
          <div class="accordion-body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
              vero a nam qui dignissimos aspernatur explicabo maiores adipisci
              atque magnam.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
              vero a nam qui dignissimos aspernatur explicabo maiores adipisci
              atque magnam.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
              vero a nam qui dignissimos aspernatur explicabo maiores adipisci
              atque magnam.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <button
          class="accordion-button collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="false"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod
          tempor?
        </button>

        <div id="collapseFive" class="accordion-collapse collapse">
          <div class="accordion-body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
              vero a nam qui dignissimos aspernatur explicabo maiores adipisci
              atque magnam.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <button
          class="accordion-button collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="false"
        >
          Lorem ipsum dolor sit amet?
        </button>

        <div id="collapseSix" class="accordion-collapse collapse">
          <div class="accordion-body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
              vero a nam qui dignissimos aspernatur explicabo maiores adipisci
              atque magnam.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <button
          class="accordion-button collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSeven"
          aria-expanded="false"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit?
        </button>

        <div id="collapseSeven" class="accordion-collapse collapse">
          <div class="accordion-body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
              vero a nam qui dignissimos aspernatur explicabo maiores adipisci
              atque magnam.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <button
          class="accordion-button collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#collapseEight"
          aria-expanded="false"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit?
        </button>

        <div id="collapseEight" class="accordion-collapse collapse">
          <div class="accordion-body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
              vero a nam qui dignissimos aspernatur explicabo maiores adipisci
              atque magnam.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
