<section class="helpdesk-section">
  <div class="headerPage" style="background-image: url('./images/bg/faq.jpg')">
    <div class="container">
      <div class="headerPage__inner">
        <h1 class="h1 text-white">Helpdesk a podpora</h1>
      </div>
    </div>
  </div>
  <div class="helpdesk-section__content">
    <p class="text-light-md mb-8">
      Narazili jste na technický problém nebo vám v kanceláři něco chybí?
      Vyberte prosím oblast, které se váš požadavek týká, a popište nám detaily.
      Váš tiket automaticky předáme kompetentnímu kolegovi k vyřešení.
    </p>
    <div class="archiveBenefits__inner">
      <div class="archiveBenefits__col">
        <a href="#" class="helpdeskItem">
          <h2 class="h2">Mobil & Hardware</h2>
          <div class="helpdeskItem__tags">
            <div class="tag">telefon</div>
            <div class="tag">Počítač</div>
            <div class="tag">příslušenství</div>
            <div class="tag">tiskárna</div>
          </div>
        </a>
      </div>
      <div class="archiveBenefits__col">
        <a href="#" class="helpdeskItem">
          <h2 class="h2">Software & systémy</h2>
          <div class="helpdeskItem__tags">
            <div class="tag">WiFi</div>
            <div class="tag">Přístup</div>
            <div class="tag">Programy</div>
            <div class="tag">VPN připojení</div>
          </div>
        </a>
      </div>

      <div class="archiveBenefits__col">
        <a href="#" class="helpdeskItem">
          <h2 class="h2">Kancelář & zázemí</h2>
          <div class="helpdeskItem__tags">
            <div class="tag">Kancelářské potřeby</div>
            <div class="tag">Nábytek</div>
            <div class="tag">Údržba</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
