.helpdesk-section {
  &__content {
    max-width: 68.267rem;
    padding: 0 1rem;
    margin: 0 auto 11rem;
    @include media-breakpoint-down(lg) {
      margin-bottom: 3.75rem;
    }
  }
}

.helpdeskItem {
  box-shadow: 0 1rem 2.5rem 0 rgba(0, 0, 0, 0.1490196078);
  width: 100%;
  height: 100%;
  padding: 48px 32px;
  display: block;
  border: 2px solid transparent;
  text-decoration: none;
  transition: all 0.3s;
  @include media-breakpoint-down(lg) {
    padding: 32px;
  }
  &:hover {
    border: 2px solid var(--color-secondary);
  }
  .h2 {
    padding-bottom: 32px;
    position: relative;
    margin-bottom: 32px;
    font-size: 2rem;
    line-height: 2.5rem;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 128px;
      height: 2px;
      background-color: var(--color-primary);
    }
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
  }
}
.helpdeskItem.active {
  background: var(--color-secondary);
  height: calc(100% + 32px);
  @include media-breakpoint-down(xl) {
    height: 100%;
  }
  .h2,
  .tag {
    color: var(--color-light);
  }
  .tag {
    border: 1px solid var(--color-light);
  }
}

.helpdeskForular {
  padding: 64px 32px;
  margin-top: 32px;
  box-shadow: 0px 16px 40px 0px #00000026;
  @include media-breakpoint-down(lg) {
    padding: 40px 32px;
  }
  &__content {
    max-width: 34rem;
    margin: 0 auto;
  }
  hr {
    margin: 32px 0;
    border: none;
    height: 2px;
    background-color: #29235c;
  }
  .btn {
    font-size: 0.75rem;
    line-height: 0.9375rem;
    width: 100%;
    margin-top: 2rem;
    font-weight: 500;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.helpdeskForm {
  textarea {
    padding: 16px 20px;
    color: var(--color-secondary);
    width: 100%;
    height: 160px;
    border: 1px solid var(--color-secondary);
    max-height: 240px;
    outline: none;
    resize: vertical;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 110%;
    letter-spacing: 0.04em;

    &:focus,
    &:hover,
    &:active {
      border: 1px solid var(--color-primary);
    }
    &::placeholder {
      color: var(--color-gray);
    }
  }
  input {
    width: 100%;
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 110%;
    letter-spacing: 0.04em;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    &:focus,
    &:hover,
    &:active {
      border: 1px solid var(--color-primary);
    }
    &::placeholder {
      color: var(--color-gray);
    }
  }
}
.helpdeskForular__title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.875rem;
  position: relative;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  color: var(--color-secondary);
  margin-bottom: 32px;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 128px;
    height: 2px;
    background-color: var(--color-primary);
  }
}

.fileUpload__label {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.fileUpload__icon {
  width: 3.125rem;
  height: 3.125rem;
  min-width: 52px;
  border: 2px solid var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.fileUpload__plus {
  font-size: 32px;
  color: var(--color-secondary);
}
.fileUpload__text {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 100%;
  letter-spacing: 0.04em;
  color: var(--color-secondary);
}

.fileUpload__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.fileUpload__input {
  display: none;
}
