.hp-events {
  margin-bottom: 11rem;
  @include media-breakpoint-down(lg) {
    margin-bottom: 5.5rem;
  }
  &__item {
    box-shadow: 0 1rem 2.5rem 0 rgba(0, 0, 0, 0.1490196078);
    padding: 3rem;
    @include media-breakpoint-down(lg) {
      padding: 2rem;
    }
  }
  &__item + &__item {
    margin-top: 32px;
  }
  &__date {
    font-size: 6rem;
    font-weight: 800;
    line-height: 6.6rem;
    position: relative;
    padding-bottom: 2.25rem;
    margin-bottom: 2rem;
    color: var(--color-secondary);
    @include media-breakpoint-only(xxl) {
      font-size: 4.2rem;
      line-height: 5.25rem;
    }
    @include media-breakpoint-only(xl) {
      font-size: 3rem;
      line-height: 3.75rem;
    }
    @include media-breakpoint-only(lg) {
      font-size: 3rem;
      line-height: 3.75rem;
    }
    @include media-breakpoint-down(lg) {
      font-size: 4.125rem;
      line-height: normal;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      height: 0.25rem;
      max-width: 32rem;
      width: 100%;
      background-color: var(--color-primary);
      bottom: 0;
    }
  }
  &__title {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3.125rem;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--color-secondary);
    @include media-breakpoint-only(xxl) {
      font-size: 2.1rem;
      line-height: 2.625rem;
    }
    @include media-breakpoint-only(xl) {
      font-size: 1.5rem;
      line-height: 1.875rem;
    }
    @include media-breakpoint-only(lg) {
      font-size: 1.5rem;
      line-height: 1.875rem;
    }
    @include media-breakpoint-down(lg) {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }
  .hp-headerSection {
    gap: 2rem;
  }
}
