<section class="hp-events">
  <div class="container">
    <div class="hp-headerSection">
      <h2 class="h2">Nadcházející eventy</h2>
      <a class="btn btn-secondary" href="#"> Prohlédnout všechny eventy </a>
    </div>
    <div class="hp-events__item">
      <div class="row g-5">
        <div class="col-lg-6">
          <div class="hp-events__date">7.12.</div>
          <div class="hp-events__title">Mikulášská párty</div>
        </div>
        <div class="col-lg-6">
          <p class="fw-light text-secondary mb-32">
            Zažijte s námi nezapomenutelnou noc plnou zábavy a kouzelné vánoční
            atmosféry! Srdečně vás zveme na náš exkluzivní firemní mikulášský
            večírek, který se uskuteční 7.12. v našem útulném vánočním sále.
          </p>
          <a href="#" class="btn btn-primary-simple">Více informací</a>
        </div>
      </div>
    </div>
    <div class="hp-events__item">
      <div class="row g-5">
        <div class="col-lg-6">
          <div class="hp-events__date">22.12.</div>
          <div class="hp-events__title">Vianočná párty</div>
        </div>
        <div class="col-lg-6">
          <p class="fw-light text-secondary mb-32">
            Zažijte s námi nezapomenutelnou noc plnou zábavy a kouzelné vánoční
            atmosféry! Srdečně vás zveme na náš exkluzivní firemní mikulášský
            večírek, který se uskuteční 7.12. v našem útulném vánočním sále.
            Zažijte s námi nezapomenutelnou noc plnou zábavy a kouzelné vánoční
            atmosféry! Srdečně vás zveme na náš exkluzivní firemní mikulášský
            večírek, který se uskuteční 7.12. v našem útulném vánočním sále.
          </p>
          <a href="#" class="btn btn-primary-simple">Více informací</a>
        </div>
      </div>
    </div>
  </div>
</section>
