<section class="benefit-section">
  <div class="article-section__header">
    <img src="images/content/multisport.jpg" loading="lazy" alt="multisport" />
    <div class="container-medium">
      <div class="article-section__info">
        <div class="article-section__date">09. 10. 2024</div>
        <div class="event-section__head">
          <ul class="tags mb-0">
            <li>
              <div class="tag">Kultura</div>
            </li>
            <li>
              <div class="tag">Sport</div>
            </li>
            <li>
              <div class="tag">Slevový kód</div>
            </li>
          </ul>
          <div class="event-section__state">Benefit aktivní</div>
        </div>

        <h1 class="h2 mb-48">Multisport karta</h1>
        <div class="article-section__social">
          <a
            class="btn btn-secondary"
            data-bs-toggle="modal"
            href="#cancelBenefit"
            role="button"
            >Deaktivovat benefit
          </a>
          <div class="article-section__social-info">
            <div class="fw-light">s doplatkem</div>
            <div class="fw-bold">jen 100 Kč měsíčne</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-medium">
    <div class="o-content mb-8">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
        voluptatem sequi nesciunt.
      </p>
    </div>
    <div class="benefit-section__inner">
      <div class="benefit-section__title">Podobné benefity</div>
      <ul class="archiveBenefits__inner" id="archiveBenefits">
        <li class="archiveBenefits__col">
          <div class="archiveBenefits__item">
            <div class="archiveBenefits__img">
              <img src="images/content/calendar-2.png" alt="dovolena" />
            </div>
            <div class="archiveBenefits__info">
              <div class="archiveBenefits__content">
                <ul class="tags">
                  <li>
                    <div class="tag active">obecné</div>
                  </li>
                  <li>
                    <div class="tag">zdraví</div>
                  </li>
                </ul>
                <h2 class="h3 subTitleDecoration text-secondary mb-3">
                  25 dní dovolené
                </h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                </p>
              </div>
              <div
                class="d-flex justify-content-between align-items-center gap-4 flex-wrap-reverse mt-32"
              >
                <div class="archiveBenefits__links">
                  <a href="#" class="btn btn-primary-simple">Více informací</a>
                </div>

                <div class="d-flex align-items-center gap-4">
                  <span class="activeBenefit">Aktivní</span>
                  <div class="archiveBenefits__icon">
                    <img src="images/ico/dovolena.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="archiveBenefits__col">
          <div class="archiveBenefits__item">
            <div class="archiveBenefits__img">
              <img src="images/content/calendar-3.png" alt="dovolena" />
            </div>
            <div class="archiveBenefits__info">
              <div class="archiveBenefits__content">
                <ul class="tags">
                  <li>
                    <div class="tag active">obecné</div>
                  </li>
                  <li>
                    <div class="tag">zdraví</div>
                  </li>
                  <li>
                    <div class="tag active">obecné</div>
                  </li>
                  <li>
                    <div class="tag">zdraví</div>
                  </li>
                  <li>
                    <div class="tag active">obecné</div>
                  </li>
                  <li>
                    <div class="tag">zdraví</div>
                  </li>
                </ul>
                <h2 class="h3 subTitleDecoration text-secondary mb-3">
                  3x Sick day
                </h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit sit
                  amet, consectetur adipiscing elit...
                </p>
              </div>
              <div
                class="d-flex justify-content-between align-items-center gap-4 flex-wrap-reverse mt-32"
              >
                <div class="archiveBenefits__links">
                  <a href="#" class="btn btn-primary-simple">Více informací</a>
                </div>

                <div class="d-flex align-items-center gap-4">
                  <span class="activeBenefit">Aktivní</span>
                  <div class="archiveBenefits__icon">
                    <img src="images/ico/sickday.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="archiveBenefits__col">
          <div class="archiveBenefits__item">
            <div class="archiveBenefits__img">
              <img src="images/content/sport.png" alt="dovolena" />
            </div>
            <div class="archiveBenefits__info">
              <div class="archiveBenefits__content">
                <ul class="tags">
                  <li>
                    <div class="tag active">Sport</div>
                  </li>
                </ul>
                <h2 class="h3 subTitleDecoration text-secondary mb-3">
                  Multisport karta
                </h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit sit
                  amet, consectetur adipiscing elit...
                </p>
              </div>

              <div
                class="d-flex justify-content-between align-items-center gap-4 flex-wrap-reverse mt-32"
              >
                <div class="archiveBenefits__links">
                  <a href="#" class="btn btn-primary-simple">Více informací</a>
                </div>

                <div class="d-flex align-items-center gap-4">
                  <div class="archiveBenefits__icon">
                    <img src="images/ico/miltisport.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<div
  class="modal fade"
  id="cancelBenefit"
  aria-labelledby="cancelBenefitLabel"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <h2
        class="h3 text-secondary subTitleDecoration mb-3"
        id="cancelBenefitLabel"
      >
        Deaktivace benefitu
      </h2>
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>

      <p class="fw-light mb-32">Opravdu si přejete zrušit svůj benefit?</p>
      <p class="modal__perex text-secondary">
        <span class="fw-semibold"> Mutisport karta - 100 kč </span>- měsíčně
      </p>
      <div class="modal-footer">
        <button
          class="btn btn-primary"
          data-bs-target="#cancelBenefit2"
          data-bs-toggle="modal"
        >
          zrušit můj benefit
        </button>
        <button data-bs-dismiss="modal" class="btn btn-secondary closeModal">
          ponechat benefit
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="cancelBenefit2"
  aria-labelledby="cancelBenefitLabel2"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <h2
        class="h3 text-secondary subTitleDecoration mb-3"
        id="cancelBenefitLabel2"
      >
        Benefit zrušen
      </h2>
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>

      <p class="fw-light mb-32">
        Pokud se situace změní, neváhejte se přihlásit o benefit znovu.
      </p>
      <p class="modal__perex text-secondary">
        <span class="fw-semibold"> Mutisport karta - 100 kč </span>- měsíčně
      </p>
      <div class="modal-footer">
        <button data-bs-dismiss="modal" class="btn btn-secondary closeModal">
          Zavřít
        </button>
      </div>
    </div>
  </div>
</div>
