.benefit-section {
  margin-bottom: 11rem;
  @include media-breakpoint-down(lg) {
    margin-bottom: 3.75rem;
  }
  &__inner {
    .archiveBenefits__inner {
      @include media-breakpoint-down(xl) {
        justify-content: center;
      }
    }

    .activeBenefit {
      font-size: 0.8125rem;
      line-height: 0.89375rem;
    }
    .archiveBenefits__img {
      height: 180px;
    }
    .archiveBenefits__info {
      height: calc(100% - 180px);
    }
  }
  &__title {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3.125rem;
    margin-bottom: 2rem;
  }
}
