<section class="contest-section">
  <div class="article-section__header">
    <img src="images/bg/contest.jpg" loading="lazy" alt="contest" />
    <div class="container-medium">
      <div class="article-section__info">
        <div class="article-section__date">09. 10. 2024</div>

        <h1 class="h2 subTitleDecoration">Vyhrajte iPhone 15 PRO</h1>
        <p class="text-xl fw-light mt-32">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation.
        </p>
        <div class="article-section__social">
          <a
            data-bs-toggle="modal"
            href="#cancelBenefit"
            role="button"
            class="btn btn-primary"
          >
            Chci se zapojit
          </a>
          <div class="article-section__social-info">
            <div class="fw-light">výherce -</div>
            <div class="fw-bold">John Doe</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contest-section__inner">
    <div class="container-medium">
      <div class="contest-section__join">
        <div class="contest-section__join-title">
          Naskenujte QR, zúčastněte se soutěže a vyhrajte!
        </div>
        <div class="contest-section__join-code">
          <img src="images/content/code.png" loading="lazy" alt="qr" />
        </div>
      </div>
      <div class="o-content">
        <img
          src="images/content/consent-content.png"
          loading="lazy"
          alt="iphone"
        />
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
          qui ratione voluptatem sequi nesciunt.
        </p>
        <h3>Pravidla soutěže</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
          qui ratione voluptatem sequi nesciunt.
        </p>
      </div>
    </div>
  </div>
</section>

<div
  class="modal fade"
  id="cancelBenefit"
  aria-labelledby="cancelBenefitLabel"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <h2
        class="h3 text-secondary subTitleDecoration mb-3"
        id="cancelBenefitLabel"
      >
        Vyhrajte iPhone 15 PRO
      </h2>
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>

      <p class="fw-light mb-32">
        Odpovězte správně na soutěžní, otázku a vyhrajte svelé ceny! Výherce se
        losuje 20.11.2024.
      </p>
      <p class="modal__perex">
        Jaký byl průměrný počet fanoušků na zápasech Sparty v sezóně 2023/2024 v
        domovské O2 areně?
      </p>
      <div class="radio-group">
        <label class="radio-wrapper">
          <input type="radio" name="answer" value="A" />
          <span class="radio-label">
            <span class="radio-letter">A</span>
            <span class="radio-text">11 586</span>
          </span>
        </label>
        <label class="radio-wrapper">
          <input type="radio" name="answer" value="B" />
          <span class="radio-label">
            <span class="radio-letter">B</span>
            <span class="radio-text">12 158</span>
          </span>
        </label>
        <label class="radio-wrapper">
          <input type="radio" name="answer" value="C" />
          <span class="radio-label">
            <span class="radio-letter">C</span>
            <span class="radio-text">13 268</span>
          </span>
        </label>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-primary"
          data-bs-target="#cancelBenefit2"
          data-bs-toggle="modal"
        >
          Odeslat
        </button>
        <button data-bs-dismiss="modal" class="btn btn-secondary closeModal">
          Zrušit
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="cancelBenefit2"
  aria-labelledby="cancelBenefitLabel2"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <h2
        class="h3 text-secondary subTitleDecoration mb-3"
        id="cancelBenefitLabel2"
      >
        Odpověď odeslána
      </h2>
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>

      <p class="fw-light mb-32">
        Hotovo! Vaše odpověď byla úspěšně odeslána. Přejeme vám hodně štěstí při
        lososvání!Vyhodnocení obdržíte do vaší emailové schránce.
      </p>
      <p class="modal__perex">
        Výherce se losuje <span class="fw-semibold">20.11.2024</span>
      </p>
      <div class="modal-footer">
        <button data-bs-dismiss="modal" class="btn btn-secondary closeModal">
          Zavřít
        </button>
      </div>
    </div>
  </div>
</div>
