.btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.04em;
  display: block;
  width: fit-content;
  padding: 17px 20px 15px;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
  @include media-breakpoint-down(lg) {
    font-size: 14px;
    line-height: 18px;
    padding: 15px 16px 13px;
  }
}
.btn.btn-arrow {
  font-size: 18px;
  padding: 24px 120px 20px 32px;
  @include media-breakpoint-down(lg) {
    font-size: 14px;
    letter-spacing: 0;
    padding: 14px 16px;
  }
  &::before {
    content: "";
    display: inline-block;
    width: 65px;
    position: absolute;
    height: 20px;
    right: 32px;
    mask: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 20"><path d="M64.7071 10.7071C65.0976 10.3166 65.0976 9.68342 64.7071 9.29289L58.3431 2.92893C57.9526 2.53841 57.3195 2.53841 56.9289 2.92893C56.5384 3.31946 56.5384 3.95262 56.9289 4.34315L62.5858 10L56.9289 15.6569C56.5384 16.0474 56.5384 16.6805 56.9289 17.0711C57.3195 17.4616 57.9526 17.4616 58.3431 17.0711L64.7071 10.7071ZM0 11H64V9H0L0 11Z" fill="%23000000"/></svg>'),
      no-repeat;

    mask-size: contain;
    background-color: var(--color-secondary);
    transition: all 0.3s;
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  &:hover::before {
    background-color: var(--color-light);
  }
}

.btn.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  &:hover {
    color: var(--color-light);
  }
}
.btn.btn-primary-simple {
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  &:hover {
    color: var(--color-light);
    background-color: var(--color-primary);
  }
}
.btn.btn-secondary {
  background-color: var(--color-light);
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  &:hover {
    background-color: var(--color-secondary);
    color: var(--color-light);
  }
}

.btn.btn-download {
  padding: 15px 20px 13px 46px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.5px;
  letter-spacing: 0.04em;
  &:hover::before {
    background-color: var(--color-light);
  }
  &::before {
    content: "";
    position: absolute;
    left: 20px;
    width: 16px;
    height: 16px;
    mask-size: contain;
    background-color: var(--color-secondary);
    transition: all 0.3s;
    mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 16"><path d="M4.125 12.4062C4.539 12.4062 4.875 12.0702 4.875 11.6562C4.875 11.2423 4.539 10.9062 4.125 10.9062C2.67788 10.9062 1.5 9.72838 1.5 8.28125C1.5 6.83413 2.67788 5.65625 4.125 5.65625C4.2285 5.65625 4.3305 5.66412 4.43062 5.67575C4.63275 5.69825 4.83675 5.63938 4.99425 5.51C5.15175 5.38063 5.24963 5.192 5.26538 4.98875C5.415 3.05 7.05562 1.53125 9 1.53125C10.9444 1.53125 12.585 3.05 12.7346 4.98875C12.7504 5.192 12.8482 5.38025 13.0057 5.51C13.1636 5.63975 13.3676 5.69825 13.5694 5.67575C13.6699 5.66412 13.7715 5.65625 13.875 5.65625C15.3221 5.65625 16.5 6.83413 16.5 8.28125C16.5 9.72838 15.3221 10.9062 13.875 10.9062C13.461 10.9062 13.125 11.2423 13.125 11.6562C13.125 12.0702 13.461 12.4062 13.875 12.4062C16.1494 12.4062 18 10.5556 18 8.28125C18 6.09088 16.284 4.29387 14.1259 4.16412C13.6084 1.79713 11.4806 0.03125 9 0.03125C6.51937 0.03125 4.39162 1.79675 3.87412 4.16412C1.716 4.29425 0 6.09125 0 8.28125C0 10.5556 1.85063 12.4062 4.125 12.4062Z" fill="%2329235C"/><path d="M9.00016 7.82812C8.58616 7.82812 8.25016 8.16413 8.25016 8.57812V13.4085L7.38953 12.5479C7.09666 12.255 6.62191 12.255 6.32903 12.5479C6.03616 12.8407 6.03616 13.3155 6.32903 13.6084L8.46991 15.7493C8.61653 15.8959 8.80816 15.969 9.00016 15.969C9.19216 15.969 9.38378 15.8959 9.53041 15.7493L11.6713 13.6084C11.9642 13.3155 11.9642 12.8407 11.6713 12.5479C11.3784 12.255 10.9037 12.255 10.6108 12.5479L9.75016 13.4085V8.57812C9.75016 8.16413 9.41416 7.82812 9.00016 7.82812Z" fill="%2329235C"/></svg>')
      no-repeat;
  }
}
.btn.btn-look {
  padding: 15px 20px 13px 46px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.5px;
  letter-spacing: 0.04em;

  &:hover::before {
    background-color: var(--color-light);
  }
  &::before {
    content: "";
    position: absolute;
    left: 20px;
    width: 16px;
    mask-size: contain;
    height: 16px;
    transition: all 0.3s;
    background-color: var(--color-secondary);
    mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 16"><path d="M17.8373 7.24009C16.7967 4.9726 14.9253 3.19182 12.6087 2.26614C10.292 1.33967 7.70797 1.33967 5.39132 2.26614C3.07467 3.19182 1.20338 4.9724 0.162718 7.24009C-0.0542392 7.72382 -0.0542392 8.27665 0.162718 8.75956C1.2033 11.027 3.07467 12.8078 5.39132 13.7343C7.70797 14.66 10.292 14.66 12.6087 13.7343C14.9253 12.8079 16.7966 11.0273 17.8373 8.75956C18.0542 8.27663 18.0542 7.7238 17.8373 7.24009ZM16.6649 8.23004C15.7618 10.1955 14.1378 11.7392 12.1289 12.541C10.1201 13.3429 7.8799 13.3429 5.87098 12.541C3.86215 11.7391 2.23824 10.1955 1.33499 8.23004C1.2699 8.0838 1.2699 7.91587 1.33499 7.76961C2.23815 5.80416 3.86207 4.26132 5.87098 3.45866C7.87981 2.65674 10.12 2.65674 12.1289 3.45866C14.1378 4.26138 15.7617 5.8041 16.6649 7.76961C16.73 7.91585 16.73 8.08378 16.6649 8.23004ZM8.99994 4.1433C7.97703 4.1433 6.99592 4.5499 6.2727 5.27307C5.54953 5.99625 5.14293 6.97738 5.14293 8.00031C5.14293 9.02324 5.54953 10.0043 6.2727 10.7275C6.99588 11.4507 7.97701 11.8573 8.99994 11.8573C10.0229 11.8573 11.004 11.4507 11.7272 10.7275C12.4503 10.0044 12.8569 9.02324 12.8569 8.00031C12.8561 6.9774 12.4495 5.99709 11.7264 5.2739C11.0032 4.5507 10.0229 4.14411 8.99994 4.1433ZM8.99994 10.5716C7.96016 10.5716 7.02244 9.94482 6.62467 8.98461C6.22611 8.02357 6.44628 6.91707 7.18151 6.18188C7.91674 5.44665 9.0232 5.22648 9.98424 5.62504C10.9445 6.02279 11.5712 6.96051 11.5712 8.00031C11.5712 8.68251 11.3004 9.33659 10.8183 9.8187C10.3362 10.3008 9.68214 10.5716 8.99994 10.5716Z" fill="%2329235C"/></svg>')
      no-repeat;
  }
}
