.o-content {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  blockquote {
    margin: 4rem 0;
    @include media-breakpoint-down(lg) {
      margin: 2.5rem 0;
    }
  }
  h2,
  h3 {
    margin: 4rem 0;
    @include media-breakpoint-down(lg) {
      margin: 2.5rem 0;
    }
  }
  img {
    width: 100%;
    height: auto;
    margin: 4rem auto;
    object-fit: cover;
    @include media-breakpoint-down(lg) {
      margin: 2.5rem auto;
    }
  }
  p img {
    margin: 0;
  }
  p + p {
    margin-top: 2rem;
    @include media-breakpoint-down(lg) {
      margin-top: 1.5rem;
    }
  }
}

.h1,
.o-content h1 {
  font-size: 3rem;
  line-height: 3.75rem;
  font-weight: 600;
  @include media-breakpoint-down(lg) {
    font-size: 2.5rem;
    line-height: 3.125rem;
  }
}

.h2,
.o-content h2 {
  font-size: 2.5rem;
  line-height: 3.125rem;
  font-weight: 600;
  color: var(--color-secondary);
  @include media-breakpoint-down(lg) {
    font-size: 2rem;
    line-height: normal;
  }
}

.h3,
.o-content h3 {
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 600;

  @include media-breakpoint-down(xl) {
    font-size: 1.25rem;
    line-height: 1.5625rem;
  }
}
.h4,
.o-content h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.875rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 0.9625rem;
}

.text-lg {
  line-height: 2rem;
}

.text-xxl {
  font-size: 1.25rem;
  line-height: 2.5rem;
}
