.footerPage {
  padding-top: 4rem;
  margin-top: 4rem;
  border-top: 0.125rem solid var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  @include media-breakpoint-down(lg) {
    margin-top: 2.5rem;
    padding-top: 2.5rem;
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
    }
  }
}
