.formDate {
  display: flex;
  align-items: center;
  border: 0.0625rem solid var(--color-secondary);
  height: 2.5rem;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    left: 1.25rem;
    background-image: url(../images/ico/calendar.svg);
    width: 1.1875rem;
    height: 1.25rem;
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
  }
  input {
    height: 100%;
    display: block;
    border: none;
    outline: none;
    width: 17.5rem;
    padding-left: 4rem;
    padding-right: 1.25rem;
    color: var(--color-secondary);
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    cursor: pointer;
    letter-spacing: 0.04em;
    transition: all 0.3s;
    background-color: transparent;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    &::placeholder {
      color: var(--color-gray);
    }
  }
  .input-group-addon {
    height: 100%;
  }
}
.datepicker table {
  width: 100%;
}
.datepicker.dropdown-menu {
  min-width: 17.6rem;
}
