.formTicket {
  &__row {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }
  }
  &-label {
    max-width: 13.75rem;
    width: 100%;
    display: block;
    input {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      border: 0.0625rem solid var(--color-secondary);
      width: 100%;
      height: 2.5rem;
      display: block;
      outline: none;
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 0.9375rem;
      letter-spacing: 0.04em;

      &::placeholder {
        color: #8b8b8b;
      }
    }
  }
}

.formTicketMore {
  padding-left: 2.8125rem;
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0.04em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 2rem;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    background-image: url("../images/ico/plus.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    background-size: 0.75rem 0.75rem;
    width: 1.8125rem;
    height: 1.8125rem;
    min-width: 1.8125rem;
    border: 0.0625rem solid var(--color-secondary);
  }
}
.formTicketMore:before,
.ticket-type {
  border: 0.0625rem solid var(--color-secondary);
}
.ticket-type {
  padding: 0.75rem 1.25rem;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.9375rem;
  letter-spacing: 0.04em;
  outline: none;
  height: 2.5rem;
  max-width: 13.75rem;
  width: 100%;
  display: block;
  color: var(--color-secondary);
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-repeat: no-repeat;
  background-position-x: 92%;
  background-position-y: 0.9375rem;
  background-size: 0.875rem 0.5rem;
  background-image: url(../images/ico/dropdown.svg);
  &::-ms-expand {
    display: none;
  }
  option:invalid {
    color: #8b8b8b;
  }
  &:invalid {
    color: #8b8b8b;
  }
}
.remove-btn {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  border: 0.0625rem solid var(--color-secondary);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url(../images/ico/minus.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    width: 1.25rem;
    height: 1.25rem;
  }
}

.code-container {
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  height: 3.125rem;
  input {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0.04em;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  button {
    width: 3.125rem;
    min-width: 3.125rem;
    background-color: transparent;
    cursor: pointer;
    justify-content: center;
    transition: all 0.3s;
    svg path {
      transition: all 0.3s;
    }
    &:hover {
      background-color: var(--color-secondary);
      svg path {
        fill: var(--color-light);
      }
    }
  }
}
.code-container button,
.code-container input {
  border: 0.0625rem solid var(--color-secondary);
  display: flex;
  align-items: center;
}
