.c-header__opener {
  background-color: var(--color-primary);
  border: 0.0625rem solid transparent;
  transition: 0.3s;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 5;
  height: 2.5rem;
  width: 3.25rem;
  cursor: pointer;
  justify-content: center;

  span {
    transition: all 0.2s;
    width: 1.25rem;
    height: 0.125rem;
    background: #fff;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    display: block;

    &::before,
    &::after {
      transition: all 0.3s;
      content: "";
      position: absolute;
      width: 1.25rem;
      height: 0.125rem;
      background: #fff;
      left: 0;
      right: 0;
    }
    &::before {
      -webkit-transform: translateY(-0.5rem);
      transform: translateY(-0.5rem);
    }
    &::after {
      -webkit-transform: translateY(0.5rem);
      transform: translateY(0.5rem);
    }
  }
  &:focus {
    box-shadow: none;
  }
}
.c-header__opener.is-open {
  span {
    border-color: var(--color-primary);
    background: var(--color-primary);
  }
  span:before {
    transform: rotate(45deg);
  }
  span:after {
    transform: rotate(-45deg);
  }
}
