.tagsMenu {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 70.3125rem;
}

.filterTags {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin-bottom: 3rem;
  @include media-breakpoint-down(lg) {
    flex-direction: column;
    gap: 2rem;
  }
}
.filterTags__date {
  padding-right: 4.125rem;
  margin-top: 0.9375rem;
  position: relative;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.9375rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-secondary);
  -webkit-text-decoration-color: transparent;
  text-decoration-color: transparent;
  display: block;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  @include media-breakpoint-down(lg) {
    width: fit-content;
  }
  &:hover {
    text-decoration-color: inherit;
  }
  &::before {
    content: "";
    position: absolute;
    right: 0;
    width: 3.125rem;
    height: 2.5rem;
    top: -0.9375rem;
    background-color: var(--color-primary);
    background-image: url("../images/ico/arrow-down.svg");
    background-repeat: no-repeat;
    background-size: 1.125rem 1.125rem;
    background-position: 50%;
  }
}

.tagsMenu input[type="checkbox"] {
  display: none;
}

.tagsMenu label {
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
  padding: 0.75rem 1rem;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.9375rem;
  letter-spacing: 0.04em;
  border: 0.0625rem solid var(--color-secondary);
  color: var(--color-secondary);
  background-color: transparent;
  position: relative;
  transition: all 0.3s;
  text-transform: uppercase;
  display: block;
}

.tagsMenu input[type="checkbox"]:checked + label {
  background-color: var(--color-secondary);
  color: var(--color-light);
  padding-right: 2.875rem;
  &::before {
    content: "";
    position: absolute;
    right: 1.125rem;
    background-image: url("../images/ico/close.svg");
    width: 1rem;
    height: 1rem;
    transition: all 0.3s;
  }
}
