.titleDecoration {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -1.25rem;
    left: 0;
    width: 8rem;
    height: 0.25rem;
    background-color: var(--color-primary);
  }
}

.subTitleDecoration {
  position: relative;
  padding-bottom: 1rem;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 8rem;
    height: 0.125rem;
    background-color: var(--color-primary);
  }
}
.h2.subTitleDecoration {
  font-size: 3rem;
  line-height: 3.625rem;
  @include media-breakpoint-only(xl) {
    font-size: 2.5rem;
    line-height: 3.125rem;
  }
}
