blockquote {
  box-shadow: 0 1rem 2.5rem 0 rgba(0, 0, 0, 0.1490196078);
  padding: 3rem;
  position: relative;
  @include media-breakpoint-down(lg) {
    padding: 2rem 1.5rem;
  }
  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(../images/ico/quotes.svg);
    width: 12.5rem;
    height: 11rem;
    @include media-breakpoint-down(lg) {
      width: 7rem;
      height: 7.5rem;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  span {
    display: block;
    font-weight: 600;
    text-align: right;
    color: var(--color-secondary);
    margin-top: 0.625rem;
    font-size: 1.125rem;
    line-height: 2rem;
  }
  p {
    display: block;
  }
}
