<section class="hp-benefits">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-48">
      <h2 class="h2 titleDecoration">Benefity</h2>
      <a class="btn btn-secondary" href="#"> Prohlédnout všechny benefity </a>
    </div>
    <ul class="hp-benefits__inner">
      <li>
        <a href="#" class="hp-benefits__item">
          <div class="hp-benefits__img">
            <img src="images/content/benefits/kultura.png" alt="" />
          </div>
          <div class="hp-benefits__icon">
            <img src="images/ico/kultura.svg" loading="lazy" alt="kultura" />
          </div>
          <div class="hp-benefits__title">Kultura</div>
        </a>
      </li>
      <li>
        <a href="#" class="hp-benefits__item">
          <div class="hp-benefits__img">
            <img src="images/content/benefits/sport.png" alt="" />
          </div>
          <div class="hp-benefits__icon">
            <img src="images/ico/sport.svg" loading="lazy" alt="sport" />
          </div>
          <div class="hp-benefits__title">Sport</div>
        </a>
      </li>
      <li>
        <a href="#" class="hp-benefits__item">
          <div class="hp-benefits__img">
            <img src="images/content/benefits/kultura.png" alt="" />
          </div>
          <div class="hp-benefits__icon">
            <img src="images/ico/kultura.svg" loading="lazy" alt="kultura" />
          </div>
          <div class="hp-benefits__title">Kultura</div>
        </a>
      </li>
      <li>
        <a href="#" class="hp-benefits__item">
          <div class="hp-benefits__img">
            <img src="images/content/benefits/sport.png" alt="" />
          </div>
          <div class="hp-benefits__icon">
            <img src="images/ico/sport.svg" loading="lazy" alt="sport" />
          </div>
          <div class="hp-benefits__title">Sport</div>
        </a>
      </li>
      <li>
        <a href="#" class="hp-benefits__item">
          <div class="hp-benefits__img">
            <img src="images/content/benefits/kultura.png" alt="" />
          </div>
          <div class="hp-benefits__icon">
            <img src="images/ico/kultura.svg" loading="lazy" alt="kultura" />
          </div>
          <div class="hp-benefits__title">Kultura</div>
        </a>
      </li>
    </ul>
  </div>
</section>
