.hp-benefits {
  margin-bottom: 11rem;
  @include media-breakpoint-down(lg) {
    margin-bottom: 5.5rem;
  }
  &__inner {
    display: flex;
    align-items: center;
    margin-left: -1rem;
    margin-right: -1rem;
    flex-wrap: wrap;
    @include media-breakpoint-down(xxl) {
      justify-content: flex-start;
      gap: 2rem 0;
    }
    li {
      padding: 0 1rem;
      max-width: 20%;
      flex: 0 0 20%;
      @include media-breakpoint-only(xl) {
        max-width: 33.333%;
        flex: 0 0 33.333%;
      }
      @include media-breakpoint-only(lg) {
        max-width: 33.333%;
        flex: 0 0 33.333%;
      }
      @include media-breakpoint-only(md) {
        max-width: 50%;
        flex: 0 0 50%;
      }
      @include media-breakpoint-only(sm) {
        max-width: 50%;
        flex: 0 0 50%;
      }
      @include media-breakpoint-down(sm) {
        max-width: 100%;
        flex: 100%;
      }
    }
  }
  &__title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--color-secondary);
    z-index: 2;
    position: relative;
    transition: all 0.5s;
  }
  &__icon {
    display: block;
    height: 2.5rem;
    max-width: 2.5rem;
    position: relative;
    z-index: 2;
    transition: all 0.5s;
  }
  &__item {
    display: block;
    width: 100%;
    position: relative;
    text-decoration: none;
    transition: all 0.5s;

    &:hover {
      box-shadow: transparent;
      .hp-benefits__img {
        img {
          transform: scale(1.1);
          opacity: 1;
        }
      }
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0.75rem 1rem 0 #00000026;
    position: relative;
    height: 13.75rem;
    .h3 {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0 2rem 1.5rem;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.1;
      transition: all 0.5s;
    }
  }
}
