<section class="hp-benefits">
  <div class="container">
    <div class="hp-headerSection">
      <h2 class="h2 titleDecoration">Benefity</h2>
      <a class="btn btn-secondary" href="#"> Prohlédnout všechny benefity </a>
    </div>
    <ul class="hp-benefits__inner">
      <li>
        <a href="#" class="hp-benefits__item">
          <div class="hp-benefits__img">
            <img src="images/content/benefits/kultura.png" alt="" />
            <h4 class="h3 text-secondary">Stravenkový paušál</h4>
          </div>
          <div class="d-flex align-items-center gap-3 mt-4 px-4">
            <div class="hp-benefits__icon">
              <img
                src="images/ico/miltisport.svg"
                loading="lazy"
                alt="kultura"
              />
            </div>
            <div class="hp-benefits__title">Multisportka</div>
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="hp-benefits__item">
          <div class="hp-benefits__img">
            <img src="images/content/benefits/kultura.png" alt="" />
            <h4 class="h3 text-secondary">Lístky do divadla</h4>
          </div>
          <div class="d-flex align-items-center gap-3 mt-4 px-4">
            <div class="hp-benefits__icon">
              <img src="images/ico/kultura.svg" loading="lazy" alt="kultura" />
            </div>
            <div class="hp-benefits__title">Kultura</div>
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="hp-benefits__item">
          <div class="hp-benefits__img">
            <img src="images/content/benefits/kultura.png" alt="" />
            <h4 class="h3 text-secondary">Cokoliv na dva řádky</h4>
          </div>
          <div class="d-flex align-items-center gap-3 mt-4 px-4">
            <div class="hp-benefits__icon">
              <img src="images/ico/sickday.svg" loading="lazy" alt="kultura" />
            </div>
            <div class="hp-benefits__title">Zdraví</div>
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="hp-benefits__item">
          <div class="hp-benefits__img">
            <img src="images/content/benefits/sport.png" alt="" />
            <h4 class="h3 text-secondary">Cokoliv na dva řádky</h4>
          </div>
          <div class="d-flex align-items-center gap-3 mt-4 px-4">
            <div class="hp-benefits__icon">
              <img src="images/ico/sport.svg" loading="lazy" alt="kultura" />
            </div>
            <div class="hp-benefits__title">Sport</div>
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="hp-benefits__item">
          <div class="hp-benefits__img">
            <img src="images/content/benefits/sport.png" alt="" />
            <h4 class="h3 text-secondary">Cokoliv na dva řádky</h4>
          </div>
          <div class="d-flex align-items-center gap-3 mt-4 px-4">
            <div class="hp-benefits__icon">
              <img src="images/ico/dovolena.svg" loading="lazy" alt="kultura" />
            </div>
            <div class="hp-benefits__title">Dovolená</div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
