.hp-benefits {
  margin-bottom: 176px;
  @include media-breakpoint-down(lg) {
    margin-bottom: 88px;
  }
  &__inner {
    display: flex;
    align-items: center;
    margin-left: -16px;
    margin-right: -16px;
    flex-wrap: wrap;
    @include media-breakpoint-down(xxl) {
      justify-content: flex-start;
      gap: 32px 0;
    }
    li {
      padding: 0 16px;
      max-width: 20%;
      flex: 0 0 20%;
      @include media-breakpoint-only(xl) {
        max-width: 33.333%;
        flex: 0 0 33.333%;
      }
      @include media-breakpoint-only(lg) {
        max-width: 33.333%;
        flex: 0 0 33.333%;
      }
      @include media-breakpoint-only(md) {
        max-width: 50%;
        flex: 0 0 50%;
      }
      @include media-breakpoint-only(sm) {
        max-width: 50%;
        flex: 0 0 50%;
      }
      @include media-breakpoint-down(sm) {
        max-width: 100%;
        flex: 100%;
      }
    }
  }
  &__title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.04em;
    color: var(--color-secondary);
    z-index: 2;
    position: relative;
    transition: all 0.5s;
    @include media-breakpoint-down(lg) {
      font-size: 24px;
      line-height: normal;
    }
  }
  &__icon {
    display: block;
    margin-bottom: 32px;
    height: 56px;
    max-width: 78px;
    position: relative;
    z-index: 2;
    transition: all 0.5s;
  }
  &__item {
    display: block;
    width: 100%;
    position: relative;
    box-shadow: 0px 16px 40px 0px #00000026;
    padding: 48px;
    text-decoration: none;
    transition: all 0.5s;
    overflow: hidden;
    @include media-breakpoint-down(lg) {
      padding: 32px;
    }
    &:hover {
      box-shadow: transparent;
      .hp-benefits__icon {
        transform: translateX(20px);
      }
      .hp-benefits__title {
        transform: translateX(20px);
      }
      .hp-benefits__img {
        img {
          transform: scale(1.1);
          opacity: 1;
        }
      }
    }
  }
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.1;
      transition: all 0.5s;
    }
  }
}
