.alert {
  &__inner {
    display: flex;
    align-items: center;
    color: var(--color-secondary);
    padding: 1.5rem 3rem;
    box-shadow: 0 1rem 2.5rem 0 rgba(0, 0, 0, 0.1490196078);
    margin-top: -2.5rem;
    position: relative;
    z-index: 1;
    background-color: var(--color-light);
    @include media-breakpoint-down(lg) {
      flex-direction: column;
      text-align: center;
      margin-top: 2.5rem;
    }
  }
  &__title {
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.5625rem;
    letter-spacing: 0.04em;
    position: relative;
    text-transform: uppercase;
    padding-left: 3rem;
    width: 20rem;
    min-width: 15rem;
    @include media-breakpoint-down(xl) {
      min-width: none;
      width: fit-content;
      padding-left: 2rem;
      margin-bottom: 1.5rem;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      background-image: url("../images/ico/alert.svg");
      background-repeat: no-repeat;
      background-color: var(--color-primary);
      width: 2rem;
      height: 2rem;
      border-radius: 100%;
      background-position: 50%;
      top: -0.1875rem;
    }
  }
  p {
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
}
