/*! purgecss start ignore */
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--color-secondary);
}
.select2-container {
  .select2-selection--single {
    height: auto;
    padding-left: 1.25rem;
    padding-right: 3.125rem;
    border-color: var(--color-secondary);
    outline: 0.0625rem solid transparent;
    transition: all 0.3s;
  }
}
.select2-container--open {
  .select2-selection--single {
    border-color: var(--color-secondary);
    outline-color: var(--color-secondary);
  }
}
.-error {
  .select2-container {
    .select2-selection--single {
      border-color: var(--color-secondary);
      outline-color: var(--color-secondary);
    }
  }
}
.-disabled {
  cursor: not-allowed;
  * {
    cursor: not-allowed;
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__rendesecondary {
    color: var(--color-light);
  }
  .select2-container {
    .select2-selection--single {
      background-color: var(--color-light);
      border-color: var(--color-secondary);
      b {
        opacity: 0.2;
      }
    }
  }
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 0.625rem;
  right: 1.4rem;
  width: 0.625rem;
  b {
    background-image: url("../images/ico/dropdown.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    width: 0.875rem;
    height: 0.5625rem;
  }
}
.select2-dropdown {
  top: 0.125rem;
  border: 0;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.14),
    0 0.25rem 0.3125rem rgba(0, 0, 0, 0.12),
    0 0.0625rem 0.625rem rgba(0, 0, 0, 0.2);
}
.select2-results__options {
  font-size: 0.75rem;

  > li {
    padding: 1rem 1.25rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0.04em;

    > span {
      align-items: center;
      display: flex;
      width: 100%;
      img {
        margin-right: 1rem;
      }
    }
  }
  .select2-results__option--selected {
    background-color: var(--color-secondary) !important;
    color: var(--color-primary);
  }
  .select2-results__option--highlighted  {
    background-color: var(--color-secondary) !important;
  }
}
.select2-container
  .select2-selection--single
  .select2-selection__rendesecondary {
  color: var(--color-dark);
  font-size: 0.875rem;
  padding: 0;
}
.select2-container--default .select2-selection--single {
  border: 0.0625rem solid var(--color-secondary);
  background-color: transparent;
  max-width: 13.75rem;
  width: 100%;
  height: 3.125rem;
  display: flex;
  align-items: center;
  @include media-breakpoint-down(lg) {
    width: 100%;
  }
}
.hp-tabs-section {
  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    b {
      background-image: url("/assets/images/ico/dropdown.svg");
    }
  }
  .select2-container--default .select2-selection--single {
    border: none !important;
    background-color: transparent;
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    top: -0.0625rem;
    right: 1.25rem;
    width: 0.5rem;
  }
  .select2-container--default.select2-container--open.select2-container--below
    .select2-selection--multiple,
  .select2-container--default.select2-container--open.select2-container--below
    .select2-selection--single {
    background-color: var(--color-light) !important;
  }
}
.select2-container.select2-container--default.select2-container--open {
  z-index: 99999;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: var(--color-secondary);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1rem;
  letter-spacing: 0.04em;
  padding: 0;
}
.select2-selection__placeholder {
  color: var(--color-gray);
}
/*! purgecss end ignore */
