<section class="hp-promotion">
  <div class="hp-promotion__wrap">
  
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="hp-promotion__title">Vyhrajte <br />iPhone 15 PRO</div>
        </div>
        <div class="col-lg-6">
          <p class="fw-light mb-32">
            Vyplňte krátký dotazník spokojenosti a zúčastněte se soutěže o skvělé ceny! Vyplňte
            krátký dotazník spokojenosti a zúčastněte se soutěže o skvělé ceny!
          </p>
          <a href="#" class="btn btn-secondary">Chci se zapojit</a>
        </div>
      </div>
    </div>
  </div>
</section>
