<header class="header">
  <div class="header__inner">
    <a class="header__logo" href="/">
      <img src="images/ico/logo.svg" alt="logo" />
    </a>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li>
          <a href="/aktuality">Aktuality</a>
        </li>
        <li>
          <a href="/aktuality?tag=11">Na kus řeči</a>
        </li>
        <li>
          <a href="/adresar">Adresář</a>
        </li>
        <li>
          <a href="/akce">Akce</a>
        </li>
        <li>
          <a href="/text/1-o-kaprainu">O Kaprainu</a>
        </li>
        <li>
          <a href="/foto-z-akci">Foto z akcí</a>
        </li>
      </ul>
    </nav>
    <div class="header__right">
      <a class="btn btn-secondary d-md-block d-none" href="#">
        Můj personální portál
      </a>

      <button class="c-header__opener js-header__opener" type="button">
        <span></span>
      </button>
    </div>
  </div>
  {% include "@components/menu/menu.twig" %}
</header>
