<header class="header">
  <div class="header__inner">
    <a class="header__logo" href="/">
      <img src="images/ico/logo.svg" alt="logo" />
    </a>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li>
          <a href="#">O Kaprainu</a>
        </li>
        <li>
          <a href="#">Aktuality</a>
        </li>
        <li>
          <a href="#">Akce</a>
        </li>
        <li>
          <a href="#">Adresář</a>
        </li>
      </ul>
    </nav>
    <div class="header__right">
      <a class="btn btn-secondary" href="#"> Můj personální portál </a>

      <button class="c-header__opener js-header__opener" type="button">
        <span></span>
      </button>
    </div>
  </div>
  {% include "@components/menu/menu.twig" %}

</header>
