.archivePosts {
  margin-bottom: 11rem;
  @include media-breakpoint-down(lg) {
    margin-bottom: 3.75rem;
  }

  &__inner {
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-down(lg) {
      gap: 2rem 0;
    }
  }
}

.archivePosts__item {
  padding: 0 1rem;

  &:first-child {
    margin-bottom: 3rem;
    max-width: 100%;
    flex: 100%;
    @include media-breakpoint-down(lg) {
      margin-bottom: 0;
    }
    @include media-breakpoint-only(md) {
      max-width: 50%;
      flex: 0 0 50%;
    }
    .post {
      display: flex;
      @include media-breakpoint-down(lg) {
        display: block;
      }
    }
    .post__img {
      max-width: 50%;
      flex: 0 0 50%;
      @include media-breakpoint-down(lg) {
        max-width: 100%;
        flex: 100%;
      }
    }
    .post__info {
      max-width: 50%;
      flex: 0 0 50%;
      @include media-breakpoint-down(lg) {
        max-width: 100%;
        flex: 100%;
      }
    }
    .post__info p {
      -webkit-line-clamp: 4;
      max-height: 6em;
    }
    .post__img:after {
      width: 24rem;
      height: 22rem;
      background-repeat: no-repeat;
      background-size: contain;
      @include media-breakpoint-down(lg) {
        width: 12.5rem;
        height: 11rem;
      }
    }
  }
  &:not(:first-child) {
    margin-bottom: 2rem;
    max-width: 33.333%;
    flex: 0 0 33.333%;
    @include media-breakpoint-only(lg) {
      max-width: 50%;
      flex: 0 0 50%;
    }
    @include media-breakpoint-only(md) {
      max-width: 50%;
      flex: 0 0 50%;
    }
    @include media-breakpoint-down(lg) {
      margin-bottom: 0;
    }
    @include media-breakpoint-down(md) {
      max-width: 100%;
      flex: 100%;
    }
  }
}
