<section class="event-section">
  <div class="article-section__header">
    <img src="images/content/event-detail.jpg" loading="lazy" alt="event" />
    <div class="container-medium">
      <div class="article-section__info">
        <div class="event-section__head">
          <div class="tag">Dress code - neformální</div>
          <div class="event-section__state">Zúčastním se</div>
        </div>
        <div class="event-section__date">22.12. 2024</div>

        <h1 class="h2">Vánoční večírek</h1>
        <p class="fw-light mt-32 text-lg">
          Zažijte s námi nezapomenutelnou noc plnou zábavy a kouzelné vánoční
          atmosféry! Srdečně vás zveme na náš exkluzivní firemní mikulášský
          večírek, který se uskuteční 7.12. v našem útulném vánočním sále.
        </p>
        <div class="article-section__social">
          <button
            class="btn btn-secondary"
            data-bs-toggle="modal"
            href="#cancelBenefit"
            role="button"
          >
            Zrušit mou účast
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-medium">
    <div class="o-content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
        voluptatem sequi nesciunt.
      </p>
    </div>
    <div class="mt-32">
      <div class="row g-lg-5 g-4 gy-8">
        <div class="col-lg-4 col-sm-6">
          <a
            class="photo"
            href="#"
            data-source="/kaprain-intranet/build/ajax-gallery.json"
            data-gallery-id="3"
          >
            <img src="images/content/gallery.png" alt="photo" />
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a
            class="photo"
            href="#"
            data-source="/kaprain-intranet/build/ajax-gallery.json"
            data-gallery-id="3"
          >
            <img src="images/content/article-img.png" alt="photo" />
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a
            class="photo"
            href="#"
            data-source="/kaprain-intranet/build/ajax-gallery.json"
            data-gallery-id="3"
          >
            <img src="images/content/topstory-1.webp" alt="photo" />
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a
            class="photo"
            href="#"
            data-source="/kaprain-intranet/build/ajax-gallery.json"
            data-gallery-id="3"
          >
            <img src="images/content/topstory-2.webp" alt="photo" />
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a
            class="photo"
            href="# "
            data-source="/kaprain-intranet/build/ajax-gallery.json"
            data-gallery-id="3"
          >
            <img src="images/content/topstory-3.webp" alt="photo" />
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a
            class="photo"
            href="#"
            data-source="/kaprain-intranet/build/ajax-gallery.json"
            data-gallery-id="3"
          >
            <img src="images/content/topstory-4.webp" alt="photo" />
          </a>
        </div>
      </div>
    </div>
    <div class="footerPage">
      <div class="footerPage__nav">
        <a href="#" class="btn btn-primary-simple">zpět na seznam </a>
        <a href="#" class="btn btn-primary-simple">Předchozí událost </a>
      </div>
      <a href="#" class="btn btn-primary">další událostv </a>
    </div>
  </div>
</section>

<div
  class="modal fade"
  id="cancelBenefit"
  aria-labelledby="cancelBenefitLabel"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <h2
        class="h3 text-secondary subTitleDecoration mb-3"
        id="cancelBenefitLabel"
      >
        Zrušení účasti
      </h2>
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>

      <p class="fw-light mb-32">
        Opravdu si přejete zrušit svou účast na této akci?
      </p>
      <p class="modal__perex fw-semibold">22.12. 2024 - Vánoční večírek</p>
      <div class="modal-footer">
        <button
          class="btn btn-primary"
          data-bs-target="#cancelBenefit2"
          data-bs-toggle="modal"
        >
          Zrušit mou účast
        </button>
        <button data-bs-dismiss="modal" class="btn btn-secondary closeModal">
          Zúčastním se
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="cancelBenefit2"
  aria-labelledby="cancelBenefitLabel2"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <h2
        class="h3 text-secondary subTitleDecoration mb-3"
        id="cancelBenefitLabel2"
      >
        Účast zrušena
      </h2>
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>

      <p class="fw-light mb-32">
        Je nám líto, že se nemůžete zúčastnit. Pokud se situace změní, neváhejte
        se přihlásit znovu.
      </p>
      <p class="modal__perex fw-semibold">22.12. 2024 - Vánoční večírek</p>
      <div class="modal-footer">
        <button data-bs-dismiss="modal" class="btn btn-secondary closeModal">
          Zavřít
        </button>
      </div>
    </div>
  </div>
</div>
