.event-section {
  margin-bottom: 11rem;
  @include media-breakpoint-down(lg) {
    margin-bottom: 3.75rem;
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    gap: 2rem;
    flex-wrap: wrap-reverse;
  }
  &__state {
    position: relative;
    color: var(--color-secondary);
    padding-right: 3rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.1rem;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    &::before {
      content: "";
      position: absolute;
      background-color: var(--color-primary);
      width: 2rem;
      height: 2rem;
      right: 0;
      background-image: url("../images/ico/check.svg");
      background-repeat: no-repeat;
      background-size: 1rem 0.75rem;
      background-position: 50%;
    }
  }
  &__date {
    position: relative;
    padding-bottom: 1.25rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.875rem;
    color: var(--color-secondary);
    @include media-breakpoint-only(xl){
      font-size: 1.25rem;
      line-height: 1.5625rem;
    }
    @include media-breakpoint-down(lg) {
      font-size: 0.9375rem;
      line-height: 1.875rem;
      padding-bottom: 0.625rem;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: var(--color-primary);
      width: 18rem;
      height: 0.25rem;
      @include media-breakpoint-down(lg) {
        height: 0.125rem;
        width: 7.5rem;
      }
    }
  }
  .photoalbum-section__img {
    aspect-ratio: 512/342;
  }
  .photoalbum-section__img,
  .photoalbum-section__info {
    max-width: 50%;
    flex: 0 0 50%;
    @include media-breakpoint-down(md) {
      max-width: 100%;
      flex: 100%;
    }
  }
  .photoalbum-section__item {
    margin-top: 4rem;
    @include media-breakpoint-down(lg) {
      margin-top: 2.5rem;
    }
  }
}
