<section class="guidelines-section">
  <div class="headerPage" style="background-image: url('../images/bg/guidelines.jpg')">
    <div class="container">
      <div class="headerPage__inner">
        <h1 class="h1 text-white">Směrnice a formuláře</h1>
      </div>
    </div>
  </div>
  <div class="container-medium">
    <div class="mb-8">
      <form class="searchForm ms-auto">
        <button>
          <img src="images/ico/search.svg" loading="lazy" alt="searchForm-btn" />
        </button>
        <input type="text" placeholder="Vyhledávání..." />
      </form>
    </div>
    <div class="guidelines-section__wrapper" id="guidelines">
      <div class="guidelinesItem">
        <div class="guidelinesItem__title">
          Směrnice podzim 2024 Směrnice podzim 2024 Směrnice podzim 2024
        </div>
        <ul class="guidelinesItem__links">
          <li>
            <a href="images/ico/download.svg" download class="btn btn-secondary btn-download"
              >stáhnout</a
            >
          </li>
          <li>
            <a href="#" class="btn btn-secondary btn-look">prohlížet</a>
          </li>
        </ul>
      </div>
      <div class="guidelinesItem">
        <div class="guidelinesItem__title">Směrnice léto 2024</div>
        <ul class="guidelinesItem__links">
          <li>
            <a href="images/ico/download.svg" download class="btn btn-secondary btn-download"
              >stáhnout</a
            >
          </li>
          <li>
            <a href="#" class="btn btn-secondary btn-look">prohlížet</a>
          </li>
        </ul>
      </div>
      <div class="guidelinesItem">
        <div class="guidelinesItem__title">Směrnice jaro 2024</div>
        <ul class="guidelinesItem__links">
          <li>
            <a href="images/ico/download.svg" download class="btn btn-secondary btn-download"
              >stáhnout</a
            >
          </li>
          <li>
            <a href="#" class="btn btn-secondary btn-look">prohlížet</a>
          </li>
        </ul>
      </div>
      <div class="guidelinesItem">
        <div class="guidelinesItem__title">Směrnice zima 2023</div>
        <ul class="guidelinesItem__links">
          <li>
            <a href="images/ico/download.svg" download class="btn btn-secondary btn-download"
              >stáhnout</a
            >
          </li>
          <li>
            <a href="#" class="btn btn-secondary btn-look">stáhnout</a>
          </li>
        </ul>
      </div>

      <div class="guidelinesItem">
        <div class="guidelinesItem__title">Směrnice podzim 2024</div>
        <ul class="guidelinesItem__links">
          <li>
            <a href="images/ico/download.svg" download class="btn btn-secondary btn-download"
              >stáhnout</a
            >
          </li>
          <li>
            <a href="#" class="btn btn-secondary btn-look">prohlížet</a>
          </li>
        </ul>
      </div>
      <div class="guidelinesItem">
        <div class="guidelinesItem__title">Směrnice léto 2024</div>
        <ul class="guidelinesItem__links">
          <li>
            <a href="images/ico/download.svg" download class="btn btn-secondary btn-download"
              >stáhnout</a
            >
          </li>
          <li>
            <a href="#" class="btn btn-secondary btn-look">prohlížet</a>
          </li>
        </ul>
      </div>
      <div class="guidelinesItem">
        <div class="guidelinesItem__title">Směrnice jaro 2024</div>
        <ul class="guidelinesItem__links">
          <li>
            <a href="images/ico/download.svg" download class="btn btn-secondary btn-download"
              >stáhnout</a
            >
          </li>
          <li>
            <a href="#" class="btn btn-secondary btn-look">prohlížet</a>
          </li>
        </ul>
      </div>
      <div class="guidelinesItem">
        <div class="guidelinesItem__title">Směrnice zima 2023</div>
        <ul class="guidelinesItem__links">
          <li>
            <a href="images/ico/download.svg" download class="btn btn-secondary btn-download"
              >stáhnout</a
            >
          </li>
          <li>
            <a href="#" class="btn btn-secondary btn-look">prohlížet</a>
          </li>
        </ul>
      </div>
    </div>
    <button
      type="button"
      class="btn mx-auto js-fetchHTML btn-primary mt-8"
      data-fetch-url="./_guidelines.html"
      data-fetch-container="#guidelines"
      data-fetch-limit="3"
      data-text="načíst další Dokumenty"
      data-text-fetching="Načítám..."
      data-text-error="Omluvte chybu, nepodařilo se načíst další dokumenty"
    >
      načíst další Dokumenty
    </button>
  </div>
</section>
