.guidelines-section {
  margin-bottom: 11rem;
  @include media-breakpoint-down(lg) {
    margin-bottom: 3.75rem;
  }
  .searchForm {
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    input {
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }
}

.guidelinesItem {
  padding: 1rem 2rem;
  box-shadow: 0 1rem 2.5rem 0 rgba(0, 0, 0, 0.1490196078);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  @include media-breakpoint-down(lg) {
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 1rem;
    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__title {
    font-weight: 500;
    line-height: 2rem;
    color: var(--color-secondary);
  }
}
.guidelinesItem + .guidelinesItem {
  margin-top: 1rem;
}
