<section class="topstory">
  <div class="container">
    <div class="row g-5 align-items-stretch">
      <div class="col-xl-8">
        <div class="topstory__inner">
          <div class="topstory__item">
            <img src="images/content/topstory-1.webp" alt="" />
            <div class="topstory__content">
              <h1 class="h1">Vítá vás nový Kaprainet</h1>
              <span>Vše důležité najdete jednoduše na jednom místě</span>
              <a class="btn btn-primary btn-arrow" href="#">Dozvědět se více</a>
            </div>
          </div>

          <div class="topstory__item">
            <img src="images/content/topstory-2.webp" alt="" />
            <div class="topstory__content">
              <h1 class="h1">Vítá vás nový Kaprainet - 2</h1>
              <span>
                Vše důležité najdete jednoduše na jednom místě Vše důležité
                najdete jednoduše na jednom místě
              </span>
              <a class="btn btn-primary btn-arrow" href="#">Dozvědět se více</a>
            </div>
          </div>

          <div class="topstory__item">
            <img src="images/content/topstory-3.webp" alt="" />
            <div class="topstory__content">
              <h1 class="h1">Vítá vás nový Kaprainet - 3</h1>
              <span>Vše důležité</span>
              <a class="btn btn-primary btn-arrow" href="#">Dozvědět se více</a>
            </div>
          </div>

          <div class="topstory__item">
            <img src="images/content/topstory-4.webp" alt="" />
            <div class="topstory__content">
              <h1 class="h1">Vítá vás nový Kaprainet - 4</h1>
              <span>Vše důležité najdete jednoduše na jednom místě</span>
              <a class="btn btn-primary btn-arrow" href="#">Dozvědět se více</a>
            </div>
          </div>
        </div>

        <div class="topstory__dots"></div>
      </div>

      <div class="col-xl-4">
        <div class="topstory__aside">
          <article class="topstory__nameday">
            <img src="images/content/svatek.webp" loading="lazy" alt="" />

            <div class="topstory__nameday-content">
              <div class="h4 mb-4" id="nameday-date">17. 8. 2026</div>
              <h2 class="h1 text-white mb-2" id="nameday-name">Petro</h2>
              <p class="text-xxxl">vše nejlepší k svátku</p>
            </div>
          </article>

          <article class="topstory__ideas">
            <h2 class="h2 text-secondary mb-3">Máš tip pro kology?</h2>
            <p class="text-md text-secondary mb-lg-5 mb-4">
              Pochlubil ses se novou pobočkou, doporučenou knihou, filmem,
              receptem na večeři nebo výletem.
            </p>

            <a
              class="btn btn-primary-simple"
              href="mailto:podnety@firma.cz?subject=Tip%20pro%20kolegy"
            >
              Poslat příspěvek
            </a>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
