<section class="topstory">
  <div class="topstory__inner">
    <div class="topstory__item">
      <img src="images/content/topstory-1.webp" alt="" />
      <div class="container">
        <div class="topstory__content">
          <h1 class="h1">Vítá vás nový Kaprainet</h1>
          <span> Vše důležité najdete jednoduše na jednom místě </span>
          <a class="btn btn-primary btn-arrow" href="#"> Dozvědět se více </a>
        </div>
      </div>
    </div>
    <div class="topstory__item">
      <img src="images/content/topstory-2.webp" alt="" />
      <div class="container">
        <div class="topstory__content">
          <h1 class="h1">Vítá vás nový Kaprainet - 2</h1>
          <span>
            Vše důležité najdete jednoduše na jednom místě Vše důležité najdete jednoduše na jednom
            místě
          </span>
          <a class="btn btn-primary btn-arrow" href="#"> Dozvědět se více </a>
        </div>
      </div>
    </div>
    <div class="topstory__item">
      <img src="images/content/topstory-3.webp" alt="" />
      <div class="container">
        <div class="topstory__content">
          <h1 class="h1">Vítá vás nový Kaprainet - 3</h1>
          <span> Vše důležité </span>
          <a class="btn btn-primary btn-arrow" href="#"> Dozvědět se více </a>
        </div>
      </div>
    </div>
    <div class="topstory__item">
      <img src="images/content/topstory-4.webp" alt="" />
      <div class="container">
        <div class="topstory__content">
          <h1 class="h1">Vítá vás nový Kaprainet - 4</h1>
          <span> Vše důležité najdete jednoduše na jednom místě </span>
          <a class="btn btn-primary btn-arrow" href="#"> Dozvědět se více </a>
        </div>
      </div>
    </div>
  </div>
</section>
