{% extends "@components/base/base.twig" %} {% set title = "01.0_homepage" %} {%
block main %} {% include "@components/topstory/topstory.twig" %}

<div class="my-22">
  <div class="container">
    <div class="row g-5">
      <div class="col-xl-8">
        <div class="p-lg-12">
          <a class="d-block hover-outline" href="#">
            <h3 class="h1 text-secondary mb-3">
              Nezapomněli jste na své benefity?
            </h3>
          </a>
          <p class="text-xxl text-secondary">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste
            laudantium corrupti vel nostrum, ex quidem quam. Corporis hic autem
            at itaque? Rem maiores veniam aliquam eaque repellendus harum
            dolorum quo! Sunt porro necessitatibus, quia ullam assumenda ad
            consequatur amet vel repellat? Laudantium, numquam aliquid!
            Laudantium earum ad aliquam? Nemo commodi voluptatum doloremque nam.
          </p>
        </div>
      </div>
      <div class="col-xl-4">
        <a href="#" target="_blank">
          <img
            class="object-fit-cover w-100 h-100"
            loading="lazy"
            src="https://picsum.photos/475/315"
            alt="pub"
          />
        </a>
      </div>
    </div>
  </div>
</div>
{% include "@components/hp-posts/hp-posts.twig" %}
<div class="my-22">
  <div class="container">
    <div class="hp-headerSection">
      <h2 class="h2 titleDecoration">Benefity</h2>
      <a class="btn btn-secondary" href="#"> Prohlédnout všechny benefity </a>
    </div>
    <ul class="hp-benefits__inner">
      <li>
        <a href="#" class="hp-benefits__item">
          <div class="hp-benefits__img">
            <img src="images/content/benefits/kultura.png" alt="" />
            <h4 class="h3 text-secondary">Stravenkový paušál</h4>
          </div>
          <div class="d-flex align-items-center gap-3 mt-4 px-4">
            <div class="hp-benefits__icon">
              <img
                src="images/ico/miltisport.svg"
                loading="lazy"
                alt="kultura"
              />
            </div>
            <div class="hp-benefits__title">Multisportka</div>
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="hp-benefits__item">
          <div class="hp-benefits__img">
            <img src="images/content/benefits/kultura.png" alt="" />
            <h4 class="h3 text-secondary">Lístky do divadla</h4>
          </div>
          <div class="d-flex align-items-center gap-3 mt-4 px-4">
            <div class="hp-benefits__icon">
              <img src="images/ico/kultura.svg" loading="lazy" alt="kultura" />
            </div>
            <div class="hp-benefits__title">Kultura</div>
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="hp-benefits__item">
          <div class="hp-benefits__img">
            <img src="images/content/benefits/kultura.png" alt="" />
            <h4 class="h3 text-secondary">Cokoliv na dva řádky</h4>
          </div>
          <div class="d-flex align-items-center gap-3 mt-4 px-4">
            <div class="hp-benefits__icon">
              <img src="images/ico/sickday.svg" loading="lazy" alt="kultura" />
            </div>
            <div class="hp-benefits__title">Zdraví</div>
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="hp-benefits__item">
          <div class="hp-benefits__img">
            <img src="images/content/benefits/sport.png" alt="" />
            <h4 class="h3 text-secondary">Cokoliv na dva řádky</h4>
          </div>
          <div class="d-flex align-items-center gap-3 mt-4 px-4">
            <div class="hp-benefits__icon">
              <img src="images/ico/sport.svg" loading="lazy" alt="kultura" />
            </div>
            <div class="hp-benefits__title">Sport</div>
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="hp-benefits__item">
          <div class="hp-benefits__img">
            <img src="images/content/benefits/sport.png" alt="" />
            <h4 class="h3 text-secondary">Cokoliv na dva řádky</h4>
          </div>
          <div class="d-flex align-items-center gap-3 mt-4 px-4">
            <div class="hp-benefits__icon">
              <img src="images/ico/dovolena.svg" loading="lazy" alt="kultura" />
            </div>
            <div class="hp-benefits__title">Dovolená</div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="my-22">
  <div class="container">
    <div class="dayPlans">
      <div class="dayPlans__content">
        <a class="d-block hover-outline" href="#">
          <h3 class="h2 text-secondary mb-3">
            Co právě čtu / Moje tajná vášeň / Kam o víkendu / Zeptejte se
            cokoliv / recept nejen na neděli
          </h3>
        </a>
        <p class="text-md text-secondary">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
          suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
          lacus vel facilisis.
        </p>
      </div>
    </div>
  </div>
</div>
<section class="hp-posts">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-4">
        <div class="post">
          <div class="post__img">
            <img src="images/content/topstory-1.webp" loading="lazy" alt="" />
          </div>
          <div class="post__info">
            <h3 class="h3 text-secondary mb-3">Foto z pracoviště</h3>
            <p>Mediální skupinu MAFRA spolu s pardubickými chemickými...</p>
            <a href="#" class="btn btn-primary-simple">PODÍVAT SE </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="post">
          <div class="post__img">
            <img src="images/content/topstory-2.webp" loading="lazy" alt="" />
          </div>
          <div class="post__info">
            <h3 class="h3 text-secondary mb-3">
              Vyhrajte víkendový wellness pobyt
            </h3>
            <p>
              Investiční skupina Kaprain dokončila na konci roku nákup
              společnosti...
            </p>
            <a href="#" class="btn btn-primary-simple">CHCI SOUTĚŽIT </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="post">
          <div class="post__img">
            <img src="images/content/topstory-3.webp" loading="lazy" alt="" />
          </div>
          <div class="post__info">
            <h3 class="h3 text-secondary mb-3">
              Co říkají hvězdy nejen o vás :)
            </h3>
            <p>
              Společnosti Kaprain a Penta Real Estate uzavřely dohodu o Kaprain
              a Penta Real Estate uzavřely dohodu o
            </p>
            <a href="#" class="btn btn-primary-simple">ČÍST DÁL </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "@components/hp-events/hp-events.twig" %} {% endblock %}
