{% extends "@components/base/base.twig" %} {% set title = "01.0_homepage" %} {%
block main %} {% include "@components/topstory/topstory.twig" %}

<div class="my-22">
  <div class="container">
    <div class="row g-5">
      <div class="col-xl-8">
        <div class="p-lg-12">
          <a class="d-block hover-outline" href="#">
            <h3 class="h1 text-secondary mb-3">
              Nezapomněli jste na své benefity?
            </h3>
          </a>
          <p class="text-xxl text-secondary">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste
            laudantium corrupti vel nostrum, ex quidem quam. Corporis hic autem
            at itaque? Rem maiores veniam aliquam eaque repellendus harum
            dolorum quo! Sunt porro necessitatibus, quia ullam assumenda ad
            consequatur amet vel repellat? Laudantium, numquam aliquid!
            Laudantium earum ad aliquam? Nemo commodi voluptatum doloremque nam.
          </p>
        </div>
      </div>
      <div class="col-xl-4">
        <a href="#" target="_blank">
          <img
            class="object-fit-cover w-100 h-100"
            loading="lazy"
            src="https://picsum.photos/475/315"
            alt="pub"
          />
        </a>
      </div>
    </div>
  </div>
</div>

<div class="my-22">
  <div class="container">
    <div class="row g-5">
      <div class="col-xl-8">
        <a href="#" class="workplaceItem">
          <div class="workplaceItem__content">
            <div class="workplaceItem__text">
              <h3 class="h2 mb-4">Foto z pracoviště</h3>
              <p class="text-xxl text-secondary">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                ipsum suspendisse ultrices gravida.
              </p>
            </div>
          </div>
          <div class="workplaceItem__img">
            <img
              src="images/content/topstory-2.webp"
              loading="lazy"
              alt="Workplace photo"
            />
          </div>
        </a>
      </div>
      <div class="col-xl-4">
        <div class="pt-4 px-lg-12">
          <div class="d-flex flex-xl-column flex-lg-row flex-column gap-4">
            <article>
              <div class="d-flex align-items-center gap-3 mb-2">
                <img
                  class="object-fit-contain"
                  src="images/ico/admin.svg"
                  width="20"
                  height="20"
                  alt=""
                />
                <div class="h3 text-secondary">Rak</div>
              </div>
              <p class="text-xxl text-secondary">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Asperiores voluptatum odit officiis dolores veritatis temporibus
                placeat, facere vero recusandae sunt eligendi ipsum deleniti
              </p>
            </article>

            <article>
              <div class="d-flex align-items-center gap-3 mb-2">
                <img
                  class="object-fit-contain"
                  src="images/ico/admin.svg"
                  width="20"
                  height="20"
                  alt=""
                />
                <div class="h3 text-secondary">Lev</div>
              </div>
              <p class="text-xxl text-secondary">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Asperiores voluptatum odit officiis
              </p>
            </article>
          </div>
          <a class="btn btn-primary-simple ms-auto mt-32" href="#">
            VŠECHNY ZNAMENÍ
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "@components/hp-posts/hp-posts.twig" %}
<div class="my-22">
  <div class="container">
    <div class="row g-5">
      <div class="col-xl-8">
        <div class="p-lg-12">
          <a class="d-block hover-outline" href="#">
            <h3 class="h1 text-secondary mb-3">Téma dne </h3>
          </a>
          <p class="text-xxxl text-secondary mb-32">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla hic
            unde quae nesciunt aliquam eligendi earum magnam dicta. Eius nulla
            corporis voluptates perspiciatis fuga maxime doloremque temporibus
          </p>
          <p class="text-xxl text-secondary">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste
            laudantium corrupti vel nostrum, ex quidem quam. Corporis hic autem
            at itaque? Rem maiores veniam aliquam eaque repellendus harum
            dolorum quo! Sunt porro necessitatibus, quia ullam assumenda ad
          </p>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="archiveBenefits__item">
          <div class="archiveBenefits__img">
            <img src="images/content/calendar-2.png" alt="dovolena" />
          </div>
          <div class="archiveBenefits__info">
            <div class="archiveBenefits__content">
              <h2 class="h3 subTitleDecoration text-secondary mb-3">
                25 dní dovolené
              </h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            </div>
            <div
              class="d-flex justify-content-between align-items-center gap-4 flex-wrap-reverse mt-32"
            >
              <div class="archiveBenefits__links">
                <a href="#" class="btn btn-primary-simple">Více informací</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="my-22">
  <div class="container">
    <div class="hp-headerSection">
      <h2 class="h2 titleDecoration">Benefity</h2>
      <!-- <a class="btn btn-secondary" href="#"> Prohlédnout všechny benefity </a> -->
    </div>
    <div class="row g-5">
      <div class="col-xl-8">
        <ul class="hp-benefits__inner">
          <li>
            <a href="#" class="hp-benefits__item">
              <div class="hp-benefits__img">
                <img src="images/content/benefits/kultura.png" alt="" />
                <h4 class="h3 text-secondary">Stravenkový paušál</h4>
              </div>
              <div class="d-flex align-items-center gap-3 mt-4 px-4">
                <div class="hp-benefits__icon">
                  <img
                    src="images/ico/miltisport.svg"
                    loading="lazy"
                    alt="kultura"
                  />
                </div>
                <div class="hp-benefits__title">Multisportka</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="hp-benefits__item">
              <div class="hp-benefits__img">
                <img src="images/content/benefits/kultura.png" alt="" />
                <h4 class="h3 text-secondary">Lístky do divadla</h4>
              </div>
              <div class="d-flex align-items-center gap-3 mt-4 px-4">
                <div class="hp-benefits__icon">
                  <img
                    src="images/ico/kultura.svg"
                    loading="lazy"
                    alt="kultura"
                  />
                </div>
                <div class="hp-benefits__title">Kultura</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="hp-benefits__item">
              <div class="hp-benefits__img">
                <img src="images/content/benefits/kultura.png" alt="" />
                <h4 class="h3 text-secondary">Cokoliv na dva řádky</h4>
              </div>
              <div class="d-flex align-items-center gap-3 mt-4 px-4">
                <div class="hp-benefits__icon">
                  <img
                    src="images/ico/sickday.svg"
                    loading="lazy"
                    alt="kultura"
                  />
                </div>
                <div class="hp-benefits__title">Zdraví</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="hp-benefits__item">
              <div class="hp-benefits__img">
                <img src="images/content/benefits/sport.png" alt="" />
                <h4 class="h3 text-secondary">Cokoliv na dva řádky</h4>
              </div>
              <div class="d-flex align-items-center gap-3 mt-4 px-4">
                <div class="hp-benefits__icon">
                  <img
                    src="images/ico/sport.svg"
                    loading="lazy"
                    alt="kultura"
                  />
                </div>
                <div class="hp-benefits__title">Sport</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="hp-benefits__item">
              <div class="hp-benefits__img">
                <img src="images/content/benefits/sport.png" alt="" />
                <h4 class="h3 text-secondary">Cokoliv na dva řádky</h4>
              </div>
              <div class="d-flex align-items-center gap-3 mt-4 px-4">
                <div class="hp-benefits__icon">
                  <img
                    src="images/ico/dovolena.svg"
                    loading="lazy"
                    alt="kultura"
                  />
                </div>
                <div class="hp-benefits__title">Dovolená</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xl-4">
        <div class="post post--benefit">
          <div class="post__img">
            <img src="images/content/topstory-2.webp" loading="lazy" alt="" />
          </div>
          <div class="post__info">
            <h3 class="h2 text-primary mb-3">Soutěž</h3>
            <p class="text-xxl text-secondary">
              Investiční skupina Kaprain dokončila na konci roku nákup
              společnosti...
            </p>
            <a href="#" class="btn btn-secondary">Chci soutěžit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "@components/hp-events/hp-events.twig" %} {% endblock %}
