{% extends "@components/base/base.twig" %} {% set title = "10.0_gallery" %} {%
block main %}
<section class="article-section">
  <div class="article-section__header">
    <img src="images/content/gallery.png" loading="lazy" alt="article" />
    <div class="container">
      <div class="article-section__info mx-0">
        <div class="article-section__date">18. 10. - 22.10. 2024</div>

        <h1 class="h2 subTitleDecoration mb-3">Fotbalový turnaj</h1>
        <p class="text-xxl text-secondary mb-lg-4 mb-3">Náplavka, Praha</p>
        <p class="fw-light text-xl">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-4 col-sm-6">
        <a
          class="photo"
          href="#"
          data-source="/kaprain-intranet/build/ajax-gallery.json"
          data-gallery-id="3"
        >
          <img src="images/content/gallery.png" alt="photo" />
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a
          class="photo"
          href="#"
          data-source="/kaprain-intranet/build/ajax-gallery.json"
          data-gallery-id="3"
        >
          <img src="images/content/article-img.png" alt="photo" />
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a
          class="photo"
          href="#"
          data-source="/kaprain-intranet/build/ajax-gallery.json"
          data-gallery-id="3"
        >
          <img src="images/content/topstory-1.webp" alt="photo" />
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a
          class="photo"
          href="#"
          data-source="/kaprain-intranet/build/ajax-gallery.json"
          data-gallery-id="3"
        >
          <img src="images/content/topstory-2.webp" alt="photo" />
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a
          class="photo"
          href="# "
          data-source="/kaprain-intranet/build/ajax-gallery.json"
          data-gallery-id="3"
        >
          <img src="images/content/topstory-3.webp" alt="photo" />
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a
          class="photo"
          href="#"
          data-source="/kaprain-intranet/build/ajax-gallery.json"
          data-gallery-id="3"
        >
          <img src="images/content/topstory-4.webp" alt="photo" />
        </a>
      </div>
    </div>
    <a href="#" class="btn btn-primary mt-8 mx-auto">Mám zájem se zúčastnit</a>
    <div class="footerPage">
      <div class="footerPage__nav">
        <a href="#" class="btn btn-secondary">zpět na seznam</a>
        <a href="#" class="btn btn-secondary">Předchozí Foto galerie </a>
      </div>
      <a href="#" class="btn btn-primary">další Foto galerie </a>
    </div>
  </div>
</section>

{% include "@components/gallery-section/gallery-section.twig" %} {% endblock %}
