{% extends "@components/base/base.twig" %} {% set title = "11.0_contest-over" %}
{% block main %}
<section class="contest-section">
  <div class="article-section__header">
    <img src="images/bg/contest.jpg" loading="lazy" alt="contest" />
    <div class="container-medium">
      <div class="article-section__info">
        <div class="article-section__date">09. 10. 2024</div>

        <h1 class="h2 subTitleDecoration">Vyhrajte iPhone 15 PRO</h1>
        <p class="fw-light mt-32 text-lg">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation.
        </p>
        <div class="article-section__social">
          <div class="btn btn-secondary">soutěž je ukončena</div>
          <div class="article-section__social-info">
            <div class="fw-light">výherce -</div>
            <div class="fw-bold">John Doe</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contest-section__inner contestOver">
    <div class="container-medium">
      <div class="o-content">
        <img
          src="images/content/consent-content.png"
          loading="lazy"
          alt="iphone"
        />
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
          qui ratione voluptatem sequi nesciunt.
        </p>
        <h3>Pravidla soutěže</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
          qui ratione voluptatem sequi nesciunt.
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
