{% extends "@components/base/base.twig" %} {% set title = "15.0_event-join" %}
{% block main %}

<section class="event-section">
  <div class="article-section__header">
    <img src="images/content/event-detail.jpg" loading="lazy" alt="event" />
    <div class="container-medium">
      <div class="article-section__info">
        <div class="event-section__head">
          <div class="tag">Dress code - neformální</div>
        </div>
        <div class="event-section__date">22.12. 2024</div>

        <h1 class="h2">Vánoční večírek</h1>
        <p class="fw-light mt-32">
          Zažijte s námi nezapomenutelnou noc plnou zábavy a kouzelné vánoční
          atmosféry! Srdečně vás zveme na náš exkluzivní firemní mikulášský
          večírek, který se uskuteční 7.12. v našem útulném vánočním sále.
        </p>
        <div class="article-section__social">
          <button class="btn btn-primary eventtModalBtn">
            Mám zájem se zúčastnit
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-medium">
    <div class="o-content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
        voluptatem sequi nesciunt.
      </p>
    </div>
    <div class="footerPage">
      <div class="footerPage__nav">
        <a href="#" class="btn btn-primary-simple">zpět na seznam </a>
        <a href="#" class="btn btn-primary-simple">Předchozí událost </a>
      </div>
      <a href="#" class="btn btn-primary">další událostv </a>
    </div>
  </div>
</section>

<div class="modal" id="cancelParticipationModal">
  <div class="modal-content">
    <span class="close"> </span>
    <h2 class="h3 text-secondary subTitleDecoration mb-3">Účast potvrzena</h2>
    <p class="fw-light mb-32">
      Jsme rádi, že se této akce zúčastníte! Podrobnosti o akci byly zaslány na
      váš e-mail.
    </p>
    <p class="modal__perex fw-semibold">22.12. 2024 - Vánoční večírek</p>

    <div class="modal-footer">
      <button class="btn btn-secondary closeModal">Zavřít</button>
    </div>
  </div>
</div>
 
 

{% endblock %}
