{% extends "@components/base/base.twig" %} {% set title = "20.0_benefit-ticket"
%} {% block main %}

<section class="benefit-section">
  <div class="article-section__header">
    <img
      src="images/content/benefit-ticket.jpg"
      loading="lazy"
      alt="multisport"
    />
    <div class="container-medium">
      <div class="article-section__info">
        <div class="article-section__date">09. 10. 2024</div>
        <div class="event-section__head">
          <ul class="tags mb-0">
            <li>
              <div class="tag">Kultura</div>
            </li>
            <li>
              <div class="tag">Sport</div>
            </li>
            <li>
              <div class="tag">Slevový kód</div>
            </li>
          </ul>
        </div>

        <h1 class="h2 mb-32 subTitleDecoration">Česko vs. Švýcarsko</h1>
        <div class="article-section__social">
          <a
            class="btn btn-primary"
            data-bs-toggle="modal"
            href="#cancelBenefit"
            role="button"
            >Mám zájem o benefit
          </a>
          <div class="article-section__social-info">
            <div class="fw-light">aktuálně dostupných</div>
            <div class="fw-bold">23 kódů</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-medium">
    <div class="o-content mb-8">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
        voluptatem sequi nesciunt.
      </p>
    </div>
    <div class="benefit-section__inner">
      <div class="benefit-section__title">Podobné benefity</div>
      <ul class="archiveBenefits__inner" id="archiveBenefits">
        <li class="archiveBenefits__col">
          <div class="archiveBenefits__item">
            <div class="archiveBenefits__img">
              <img src="images/content/dovolena.png" alt="dovolena" />
              <span class="activeBenefit">Aktivní</span>
              <div class="archiveBenefits__icon">
                <img src="images/ico/dovolena.svg" alt="" />
              </div>
            </div>
            <div class="archiveBenefits__info">
              <ul class="tags">
                <li>
                  <div class="tag active">obecné</div>
                </li>
                <li>
                  <div class="tag">zdraví</div>
                </li>
              </ul>
              <h2 class="h4 subTitleDecoration text-secondary mb-3">
                25 dní dovolené
              </h2>
              <div class="archiveBenefits__links">
                <a href="#" class="btn btn-primary-simple">Více informací</a>
              </div>
            </div>
          </div>
        </li>
        <li class="archiveBenefits__col">
          <div class="archiveBenefits__item">
            <div class="archiveBenefits__img">
              <img src="images/content/sickday.png" alt="dovolena" />
              <div class="archiveBenefits__icon">
                <img src="images/ico/sickday.svg" alt="" />
              </div>
              <span class="activeBenefit">Aktivní</span>
            </div>
            <div class="archiveBenefits__info">
              <ul class="tags">
                <li>
                  <div class="tag active">obecné</div>
                </li>
                <li>
                  <div class="tag">zdraví</div>
                </li>
              </ul>
              <h2 class="h4 subTitleDecoration text-secondary mb-3">
                3x Sick day
              </h2>

              <div class="archiveBenefits__links">
                <a href="#" class="btn btn-primary-simple">Více informací</a>
              </div>
            </div>
          </div>
        </li>
        <li class="archiveBenefits__col">
          <div class="archiveBenefits__item">
            <div class="archiveBenefits__img">
              <img src="images/content/sport.png" alt="dovolena" />
              <div class="archiveBenefits__icon">
                <img src="images/ico/miltisport.svg" alt="" />
              </div>
            </div>
            <div class="archiveBenefits__info">
              <ul class="tags">
                <li>
                  <div class="tag active">Sport</div>
                </li>
              </ul>
              <h2 class="h4 subTitleDecoration text-secondary mb-3">
                Multisport karta
              </h2>

              <div class="archiveBenefits__links">
                <a href="#" class="btn btn-primary-simple">Více informací</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<div
  class="modal fade"
  id="cancelBenefit"
  aria-labelledby="cancelBenefitLabel"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="tag active">Slevový kód</div>
      <h2
        class="h3 text-secondary subTitleDecoration mb-3"
        id="cancelBenefitLabel"
      >
        Česko vs. Švýcarsko
      </h2>
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <p class="fw-light mb-32">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna.
      </p>
      <p class="modal__perex text-secondary">
        <span class="fw-semibold"> 50% - </span>- sleva na vstup
      </p>
      <form action="" class="formTicket">
        <div class="formTicket__row">
          <div class="formTicket-label">
            <input type="text" placeholder="Jméno hosta" class="guest-name" />
          </div>
          <label class="o-select formTicket-label">
            <select class="ticket-type" required>
              <option value="" disabled selected hidden>Typ vstupenky</option>
              <option value="1">Plný vstup</option>
              <option value="2">Zlevněný vstup</option>
            </select>
          </label>
        </div>
        <div class="formTicketMore">Přidat další vstupenku</div>
        <div class="modal-footer">
          <button
            class="btn btn-primary"
            id="submitBtn"
            data-bs-target="#cancelBenefit2"
            data-bs-toggle="modal"
          >
            potvrdit
          </button>
          <button data-bs-dismiss="modal" class="btn btn-secondary closeModal">
            Zrušit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="cancelBenefit2"
  aria-labelledby="cancelBenefitLabel2"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <h2
        class="h3 text-secondary subTitleDecoration mb-3"
        id="cancelBenefitLabel2"
      >
        Váš slevový kód
      </h2>
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
      <p class="fw-light mb-32">
        Hotovo! Na vaši e-mailovou adresu bylo zasláno shrnutí události spolu se
        slevovým kódem.
      </p>
      <p class="modal__perex text-secondary">
        <span class="fw-semibold"> Česko vs. Švýcarsko <br />50% - </span>sleva
        na vstup
      </p>
      <div class="code-container">
        <input type="text" id="codeInput" value="XW33DKW493321" readonly />
        <button id="copyButton" class="copy-button">
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.2757 0H6.99984V15.3333H18.3332V3.05749L15.2757 0ZM16.9998 14H8.33317V1.33333H14.724L16.9998 3.60917V14ZM11.6665 16.6667H12.9998V20H1.6665V4.66667H5.6665V6H2.99984V18.6667H11.6665V16.6667Z"
              fill="#29235C"
            />
          </svg>
        </button>
      </div>
      <div class="modal-footer">
        <button data-bs-dismiss="modal" class="btn btn-secondary closeModal">
          Zavřít
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
