{% extends "@components/base/base.twig" %} {% set title = "28.0_nav-form" %} {%
block main %}
<section class="helpdesk-section">
  <div class="headerPage" style="background-image: url('./images/bg/faq.jpg')">
    <div class="container">
      <div class="headerPage__inner">
        <h1 class="h1 text-white">Správa zaměstnanců</h1>
      </div>
    </div>
  </div>
  <div class="helpdesk-section__content">
    <div class="row">
      <div class="col-sm-6">
        <a href="#" class="helpdeskItem">
          <h2 class="h2">Nástupní formulář</h2>
        </a>
      </div>
      <div class="col-sm-6">
        <a href="#" class="helpdeskItem">
          <h2 class="h2">Výstupní formulář</h2>
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
