<section class="archiveBenefits">
  <div
    class="headerPage"
    style="background-image: url('./images/bg/benefits.jpg')"
  >
    <div class="container">
      <div class="headerPage__inner">
        <h1 class="h1 text-white">Benefity</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <form class="filterTags">
      <ul class="tagsMenu">
        <li>
          <input name="tag" type="checkbox" id="activni" />
          <label for="activni">Aktivní</label>
        </li>
        <li>
          <input name="tag" type="checkbox" id="neaktivni" />
          <label for="neaktivni">NeAktivní</label>
        </li>
        <li>
          <input checked name="tag" type="checkbox" id="obecne" />
          <label for="obecne">Obecné </label>
        </li>
        <li>
          <input checked name="tag" type="checkbox" id="sport" />
          <label for="sport">Sport </label>
        </li>
        <li>
          <input name="tag" type="checkbox" id="lifestyle" />
          <label for="lifestyle">lifestyle </label>
        </li>
        <li>
          <input checked name="tag" type="checkbox" id="sleva" />
          <label for="sleva">Slevový kód </label>
        </li>

        <li>
          <input checked name="tag" type="checkbox" id="vstupenky" />
          <label for="vstupenky">Vstupenky </label>
        </li>
        <li>
          <input name="tag" type="checkbox" id="baety" />
          <label for="baety">Baeuty </label>
        </li>
        <li>
          <input name="tag" type="checkbox" id="zdravie" />
          <label for="zdravie">Zdravie </label>
        </li>
        <li>
          <input name="tag" type="checkbox" id="lifestylee" />
          <label for="lifestylee">lifestyle </label>
        </li>
        <li>
          <input name="tag" type="checkbox" id="vacation" />
          <label for="vacation">Cestovanie </label>
        </li>
        <li>
          <input name="tag" type="checkbox" id="priroda" />
          <label for="priroda">Príroda </label>
        </li>
        <li>
          <input name="tag" type="checkbox" id="jidlo" />
          <label for="jidlo">Jídlo </label>
        </li>
      </ul>
      <a href="#" class="filterTags__date"> seřadit podle přidání </a>
    </form>

    <ul class="archiveBenefits__inner" id="archiveBenefits">
      <li class="archiveBenefits__col">
        <div class="archiveBenefits__item">
          <div class="archiveBenefits__img">
            <img src="images/content/dovolena.png" alt="dovolena" />
            <span class="activeBenefit">Aktivní</span>
            <div class="archiveBenefits__icon">
              <img src="images/ico/dovolena.svg" alt="" />
            </div>
          </div>
          <div class="archiveBenefits__info">
            <ul class="tags">
              <li>
                <div class="tag active">obecné</div>
              </li>
              <li>
                <div class="tag">zdraví</div>
              </li>
            </ul>
            <h2 class="h3 subTitleDecoration text-secondary mb-3">
              25 dní dovolené
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <div class="archiveBenefits__links">
              <a href="#" class="btn btn-primary-simple">Více informací</a>
            </div>
          </div>
        </div>
      </li>
      <li class="archiveBenefits__col">
        <div class="archiveBenefits__item">
          <div class="archiveBenefits__img">
            <img src="images/content/sickday.png" alt="dovolena" />
            <div class="archiveBenefits__icon">
              <img src="images/ico/sickday.svg" alt="" />
            </div>
            <span class="activeBenefit">Aktivní</span>
          </div>
          <div class="archiveBenefits__info">
            <ul class="tags">
              <li>
                <div class="tag active">obecné</div>
              </li>
              <li>
                <div class="tag">zdraví</div>
              </li>
            </ul>
            <h2 class="h3 subTitleDecoration text-secondary mb-3">
              3x Sick day
            </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit sit amet,
              consectetur adipiscing elit...
            </p>
            <div class="archiveBenefits__links">
              <a href="#" class="btn btn-primary-simple">Více informací</a>
            </div>
          </div>
        </div>
      </li>
      <li class="archiveBenefits__col">
        <div class="archiveBenefits__item">
          <div class="archiveBenefits__img">
            <img src="images/content/sport.png" alt="dovolena" />
            <div class="archiveBenefits__icon">
              <img src="images/ico/miltisport.svg" alt="" />
            </div>
          </div>
          <div class="archiveBenefits__info">
            <ul class="tags">
              <li>
                <div class="tag active">Sport</div>
              </li>
            </ul>
            <h2 class="h3 subTitleDecoration text-secondary mb-3">
              Multisport karta
            </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit sit amet,
              consectetur adipiscing elit...
            </p>
            <div class="archiveBenefits__links">
              <a href="#" class="btn btn-primary-simple">Více informací</a>
            </div>
          </div>
        </div>
      </li>
      <li class="archiveBenefits__col">
        <div class="archiveBenefits__item">
          <div class="archiveBenefits__img">
            <img src="images/content/benefits/kultura.png" alt="dovolena" />
            <span class="activeBenefit">Aktivní</span>
            <div class="archiveBenefits__icon">
              <img src="images/ico/kultura.svg" alt="" />
            </div>
          </div>
          <div class="archiveBenefits__info">
            <ul class="tags">
              <li>
                <div class="tag">Kultura</div>
              </li>
              <li>
                <div class="tag">Divadlo</div>
              </li>
              <li>
                <div class="tag active">Slevový kód</div>
              </li>
            </ul>
            <h2 class="h3 subTitleDecoration text-secondary mb-3">
              Prodaná nevěsta
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <div class="archiveBenefits__links">
              <a href="#" class="btn btn-primary-simple">Více informací</a>
            </div>
          </div>
        </div>
      </li>
      <li class="archiveBenefits__col">
        <div class="archiveBenefits__item">
          <div class="archiveBenefits__img">
            <img src="images/content/benefits/kultura.png" alt="dovolena" />
            <span class="activeBenefit">Aktivní</span>
            <div class="archiveBenefits__icon">
              <img src="images/ico/kultura.svg" alt="" />
            </div>
          </div>
          <div class="archiveBenefits__info">
            <ul class="tags">
              <li>
                <div class="tag">Kultura</div>
              </li>
              <li>
                <div class="tag">Kino</div>
              </li>
              <li>
                <div class="tag active">Vstupenky</div>
              </li>
            </ul>
            <h2 class="h3 subTitleDecoration text-secondary mb-3">Vlny</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <div class="archiveBenefits__links">
              <a href="#" class="btn btn-primary-simple">Více informací</a>
            </div>
          </div>
        </div>
      </li>
      <li class="archiveBenefits__col">
        <div class="archiveBenefits__item">
          <div class="archiveBenefits__img">
            <img src="images/content/hokey.png" alt="dovolena" />

            <div class="archiveBenefits__icon">
              <img src="images/ico/kultura.svg" alt="" />
            </div>
          </div>
          <div class="archiveBenefits__info">
            <ul class="tags">
              <li>
                <div class="tag">Kultura</div>
              </li>
              <li>
                <div class="tag active">Sport</div>
              </li>
              <li>
                <div class="tag">Slevový kód</div>
              </li>
            </ul>
            <h2 class="h3 subTitleDecoration text-secondary mb-3">
              Česko vs. Švýcarsko
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <div class="archiveBenefits__links">
              <a href="#" class="btn btn-primary-simple">Více informací</a>
              <a href="#" class="btn btn-primary">Mám zájem</a>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <button
      type="button"
      class="btn mx-auto js-fetchHTML btn-primary mt-8"
      data-fetch-url="./_archiveBenefits.html"
      data-fetch-container="#archiveBenefits"
      data-fetch-limit="3"
      data-text="načíst další aktuality"
      data-text-fetching="Načítám..."
      data-text-error="Omluvte chybu, nepodařilo se načíst další aktuality"
    >
      načíst další aktuality
    </button>
  </div>
</section>
